<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supermap.dossiertool.smattrMapper.JsydsyqMapper">
  <resultMap id="BaseResultMap" type="com.supermap.dossiertool.smattrEntity.Jsydsyq">
    <id column="BSM" jdbcType="OTHER" property="bsm" />
    <result column="OBJECTID" jdbcType="DECIMAL" property="objectid" />
    <result column="YSDM" jdbcType="OTHER" property="ysdm" />
    <result column="ZDDM" jdbcType="OTHER" property="zddm" />
    <result column="BDCDYBSM" jdbcType="OTHER" property="bdcdybsm" />
    <result column="BDCDYH" jdbcType="OTHER" property="bdcdyh" />
    <result column="YWH" jdbcType="OTHER" property="ywh" />
    <result column="QLLX" jdbcType="OTHER" property="qllx" />
    <result column="DJLX" jdbcType="OTHER" property="djlx" />
    <result column="DJYY" jdbcType="OTHER" property="djyy" />
    <result column="SYQMJ" jdbcType="DECIMAL" property="syqmj" />
    <result column="SYQQSSJ" jdbcType="TIMESTAMP" property="syqqssj" />
    <result column="SYQJSSJ" jdbcType="TIMESTAMP" property="syqjssj" />
    <result column="QDJG" jdbcType="DECIMAL" property="qdjg" />
    <result column="BDCQZH" jdbcType="OTHER" property="bdcqzh" />
    <result column="QXDM" jdbcType="OTHER" property="qxdm" />
    <result column="DJJG" jdbcType="OTHER" property="djjg" />
    <result column="DBR" jdbcType="OTHER" property="dbr" />
    <result column="DJSJ" jdbcType="TIMESTAMP" property="djsj" />
    <result column="FJ" jdbcType="OTHER" property="fj" />
    <result column="QSZT" jdbcType="OTHER" property="qszt" />
    <result column="ZXYWH" jdbcType="OTHER" property="zxywh" />
    <result column="ZXSJ" jdbcType="TIMESTAMP" property="zxsj" />
    <result column="ZXYY" jdbcType="OTHER" property="zxyy" />
    <result column="BLZT" jdbcType="OTHER" property="blzt" />
    <result column="DAQZH" jdbcType="OTHER" property="daqzh" />
    <result column="DAND" jdbcType="OTHER" property="dand" />
    <result column="DAGH" jdbcType="OTHER" property="dagh" />
    <result column="DAHH" jdbcType="OTHER" property="dahh" />
    <result column="DAAJH" jdbcType="OTHER" property="daajh" />
    <result column="DAAJBT" jdbcType="OTHER" property="daajbt" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    BSM, OBJECTID, YSDM, ZDDM, BDCDYBSM, BDCDYH, YWH, QLLX, DJLX, DJYY, SYQMJ, SYQQSSJ, 
    SYQJSSJ, QDJG, BDCQZH, QXDM, DJJG, DBR, DJSJ, FJ, QSZT, ZXYWH, ZXSJ, ZXYY, BLZT, 
    DAQZH, DAND, DAGH, DAHH, DAAJH, DAAJBT
  </sql>
  <select id="selectByExample" parameterType="com.supermap.dossiertool.smattrEntity.JsydsyqExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SMATTR.JSYDSYQ
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SMATTR.JSYDSYQ
    where BSM = #{bsm,jdbcType=OTHER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SMATTR.JSYDSYQ
    where BSM = #{bsm,jdbcType=OTHER}
  </delete>
  <delete id="deleteByExample" parameterType="com.supermap.dossiertool.smattrEntity.JsydsyqExample">
    delete from SMATTR.JSYDSYQ
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.supermap.dossiertool.smattrEntity.Jsydsyq">
    insert into SMATTR.JSYDSYQ (BSM, OBJECTID, YSDM, 
      ZDDM, BDCDYBSM, BDCDYH, 
      YWH, QLLX, DJLX, 
      DJYY, SYQMJ, SYQQSSJ, 
      SYQJSSJ, QDJG, BDCQZH, 
      QXDM, DJJG, DBR, 
      DJSJ, FJ, QSZT, 
      ZXYWH, ZXSJ, ZXYY, 
      BLZT, DAQZH, DAND, 
      DAGH, DAHH, DAAJH, 
      DAAJBT)
    values (#{bsm,jdbcType=OTHER}, #{objectid,jdbcType=DECIMAL}, #{ysdm,jdbcType=OTHER}, 
      #{zddm,jdbcType=OTHER}, #{bdcdybsm,jdbcType=OTHER}, #{bdcdyh,jdbcType=OTHER}, 
      #{ywh,jdbcType=OTHER}, #{qllx,jdbcType=OTHER}, #{djlx,jdbcType=OTHER}, 
      #{djyy,jdbcType=OTHER}, #{syqmj,jdbcType=DECIMAL}, #{syqqssj,jdbcType=TIMESTAMP}, 
      #{syqjssj,jdbcType=TIMESTAMP}, #{qdjg,jdbcType=DECIMAL}, #{bdcqzh,jdbcType=OTHER}, 
      #{qxdm,jdbcType=OTHER}, #{djjg,jdbcType=OTHER}, #{dbr,jdbcType=OTHER}, 
      #{djsj,jdbcType=TIMESTAMP}, #{fj,jdbcType=OTHER}, #{qszt,jdbcType=OTHER}, 
      #{zxywh,jdbcType=OTHER}, #{zxsj,jdbcType=TIMESTAMP}, #{zxyy,jdbcType=OTHER}, 
      #{blzt,jdbcType=OTHER}, #{daqzh,jdbcType=OTHER}, #{dand,jdbcType=OTHER}, 
      #{dagh,jdbcType=OTHER}, #{dahh,jdbcType=OTHER}, #{daajh,jdbcType=OTHER}, 
      #{daajbt,jdbcType=OTHER})
  </insert>
  <insert id="insertSelective" parameterType="com.supermap.dossiertool.smattrEntity.Jsydsyq">
    insert into JSYDSYQ
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bsm != null">
        BSM,
      </if>
      <if test="objectid != null">
        OBJECTID,
      </if>
      <if test="ysdm != null">
        YSDM,
      </if>
      <if test="zddm != null">
        ZDDM,
      </if>
      <if test="bdcdybsm != null">
        BDCDYBSM,
      </if>
      <if test="bdcdyh != null">
        BDCDYH,
      </if>
      <if test="ywh != null">
        YWH,
      </if>
      <if test="qllx != null">
        QLLX,
      </if>
      <if test="djlx != null">
        DJLX,
      </if>
      <if test="djyy != null">
        DJYY,
      </if>
      <if test="syqmj != null">
        SYQMJ,
      </if>
      <if test="syqqssj != null">
        SYQQSSJ,
      </if>
      <if test="syqjssj != null">
        SYQJSSJ,
      </if>
      <if test="qdjg != null">
        QDJG,
      </if>
      <if test="bdcqzh != null">
        BDCQZH,
      </if>
      <if test="qxdm != null">
        QXDM,
      </if>
      <if test="djjg != null">
        DJJG,
      </if>
      <if test="dbr != null">
        DBR,
      </if>
      <if test="djsj != null">
        DJSJ,
      </if>
      <if test="fj != null">
        FJ,
      </if>
      <if test="qszt != null">
        QSZT,
      </if>
      <if test="zxywh != null">
        ZXYWH,
      </if>
      <if test="zxsj != null">
        ZXSJ,
      </if>
      <if test="zxyy != null">
        ZXYY,
      </if>
      <if test="blzt != null">
        BLZT,
      </if>
      <if test="daqzh != null">
        DAQZH,
      </if>
      <if test="dand != null">
        DAND,
      </if>
      <if test="dagh != null">
        DAGH,
      </if>
      <if test="dahh != null">
        DAHH,
      </if>
      <if test="daajh != null">
        DAAJH,
      </if>
      <if test="daajbt != null">
        DAAJBT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bsm != null">
        #{bsm,jdbcType=OTHER},
      </if>
      <if test="objectid != null">
        #{objectid,jdbcType=DECIMAL},
      </if>
      <if test="ysdm != null">
        #{ysdm,jdbcType=OTHER},
      </if>
      <if test="zddm != null">
        #{zddm,jdbcType=OTHER},
      </if>
      <if test="bdcdybsm != null">
        #{bdcdybsm,jdbcType=OTHER},
      </if>
      <if test="bdcdyh != null">
        #{bdcdyh,jdbcType=OTHER},
      </if>
      <if test="ywh != null">
        #{ywh,jdbcType=OTHER},
      </if>
      <if test="qllx != null">
        #{qllx,jdbcType=OTHER},
      </if>
      <if test="djlx != null">
        #{djlx,jdbcType=OTHER},
      </if>
      <if test="djyy != null">
        #{djyy,jdbcType=OTHER},
      </if>
      <if test="syqmj != null">
        #{syqmj,jdbcType=DECIMAL},
      </if>
      <if test="syqqssj != null">
        #{syqqssj,jdbcType=TIMESTAMP},
      </if>
      <if test="syqjssj != null">
        #{syqjssj,jdbcType=TIMESTAMP},
      </if>
      <if test="qdjg != null">
        #{qdjg,jdbcType=DECIMAL},
      </if>
      <if test="bdcqzh != null">
        #{bdcqzh,jdbcType=OTHER},
      </if>
      <if test="qxdm != null">
        #{qxdm,jdbcType=OTHER},
      </if>
      <if test="djjg != null">
        #{djjg,jdbcType=OTHER},
      </if>
      <if test="dbr != null">
        #{dbr,jdbcType=OTHER},
      </if>
      <if test="djsj != null">
        #{djsj,jdbcType=TIMESTAMP},
      </if>
      <if test="fj != null">
        #{fj,jdbcType=OTHER},
      </if>
      <if test="qszt != null">
        #{qszt,jdbcType=OTHER},
      </if>
      <if test="zxywh != null">
        #{zxywh,jdbcType=OTHER},
      </if>
      <if test="zxsj != null">
        #{zxsj,jdbcType=TIMESTAMP},
      </if>
      <if test="zxyy != null">
        #{zxyy,jdbcType=OTHER},
      </if>
      <if test="blzt != null">
        #{blzt,jdbcType=OTHER},
      </if>
      <if test="daqzh != null">
        #{daqzh,jdbcType=OTHER},
      </if>
      <if test="dand != null">
        #{dand,jdbcType=OTHER},
      </if>
      <if test="dagh != null">
        #{dagh,jdbcType=OTHER},
      </if>
      <if test="dahh != null">
        #{dahh,jdbcType=OTHER},
      </if>
      <if test="daajh != null">
        #{daajh,jdbcType=OTHER},
      </if>
      <if test="daajbt != null">
        #{daajbt,jdbcType=OTHER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.supermap.dossiertool.smattrEntity.JsydsyqExample" resultType="java.lang.Long">
    select count(*) from SMATTR.JSYDSYQ
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update SMATTR.JSYDSYQ
    <set>
      <if test="record.bsm != null">
        BSM = #{record.bsm,jdbcType=OTHER},
      </if>
      <if test="record.objectid != null">
        OBJECTID = #{record.objectid,jdbcType=DECIMAL},
      </if>
      <if test="record.ysdm != null">
        YSDM = #{record.ysdm,jdbcType=OTHER},
      </if>
      <if test="record.zddm != null">
        ZDDM = #{record.zddm,jdbcType=OTHER},
      </if>
      <if test="record.bdcdybsm != null">
        BDCDYBSM = #{record.bdcdybsm,jdbcType=OTHER},
      </if>
      <if test="record.bdcdyh != null">
        BDCDYH = #{record.bdcdyh,jdbcType=OTHER},
      </if>
      <if test="record.ywh != null">
        YWH = #{record.ywh,jdbcType=OTHER},
      </if>
      <if test="record.qllx != null">
        QLLX = #{record.qllx,jdbcType=OTHER},
      </if>
      <if test="record.djlx != null">
        DJLX = #{record.djlx,jdbcType=OTHER},
      </if>
      <if test="record.djyy != null">
        DJYY = #{record.djyy,jdbcType=OTHER},
      </if>
      <if test="record.syqmj != null">
        SYQMJ = #{record.syqmj,jdbcType=DECIMAL},
      </if>
      <if test="record.syqqssj != null">
        SYQQSSJ = #{record.syqqssj,jdbcType=TIMESTAMP},
      </if>
      <if test="record.syqjssj != null">
        SYQJSSJ = #{record.syqjssj,jdbcType=TIMESTAMP},
      </if>
      <if test="record.qdjg != null">
        QDJG = #{record.qdjg,jdbcType=DECIMAL},
      </if>
      <if test="record.bdcqzh != null">
        BDCQZH = #{record.bdcqzh,jdbcType=OTHER},
      </if>
      <if test="record.qxdm != null">
        QXDM = #{record.qxdm,jdbcType=OTHER},
      </if>
      <if test="record.djjg != null">
        DJJG = #{record.djjg,jdbcType=OTHER},
      </if>
      <if test="record.dbr != null">
        DBR = #{record.dbr,jdbcType=OTHER},
      </if>
      <if test="record.djsj != null">
        DJSJ = #{record.djsj,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fj != null">
        FJ = #{record.fj,jdbcType=OTHER},
      </if>
      <if test="record.qszt != null">
        QSZT = #{record.qszt,jdbcType=OTHER},
      </if>
      <if test="record.zxywh != null">
        ZXYWH = #{record.zxywh,jdbcType=OTHER},
      </if>
      <if test="record.zxsj != null">
        ZXSJ = #{record.zxsj,jdbcType=TIMESTAMP},
      </if>
      <if test="record.zxyy != null">
        ZXYY = #{record.zxyy,jdbcType=OTHER},
      </if>
      <if test="record.blzt != null">
        BLZT = #{record.blzt,jdbcType=OTHER},
      </if>
      <if test="record.daqzh != null">
        DAQZH = #{record.daqzh,jdbcType=OTHER},
      </if>
      <if test="record.dand != null">
        DAND = #{record.dand,jdbcType=OTHER},
      </if>
      <if test="record.dagh != null">
        DAGH = #{record.dagh,jdbcType=OTHER},
      </if>
      <if test="record.dahh != null">
        DAHH = #{record.dahh,jdbcType=OTHER},
      </if>
      <if test="record.daajh != null">
        DAAJH = #{record.daajh,jdbcType=OTHER},
      </if>
      <if test="record.daajbt != null">
        DAAJBT = #{record.daajbt,jdbcType=OTHER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update SMATTR.JSYDSYQ
    set BSM = #{record.bsm,jdbcType=OTHER},
      OBJECTID = #{record.objectid,jdbcType=DECIMAL},
      YSDM = #{record.ysdm,jdbcType=OTHER},
      ZDDM = #{record.zddm,jdbcType=OTHER},
      BDCDYBSM = #{record.bdcdybsm,jdbcType=OTHER},
      BDCDYH = #{record.bdcdyh,jdbcType=OTHER},
      YWH = #{record.ywh,jdbcType=OTHER},
      QLLX = #{record.qllx,jdbcType=OTHER},
      DJLX = #{record.djlx,jdbcType=OTHER},
      DJYY = #{record.djyy,jdbcType=OTHER},
      SYQMJ = #{record.syqmj,jdbcType=DECIMAL},
      SYQQSSJ = #{record.syqqssj,jdbcType=TIMESTAMP},
      SYQJSSJ = #{record.syqjssj,jdbcType=TIMESTAMP},
      QDJG = #{record.qdjg,jdbcType=DECIMAL},
      BDCQZH = #{record.bdcqzh,jdbcType=OTHER},
      QXDM = #{record.qxdm,jdbcType=OTHER},
      DJJG = #{record.djjg,jdbcType=OTHER},
      DBR = #{record.dbr,jdbcType=OTHER},
      DJSJ = #{record.djsj,jdbcType=TIMESTAMP},
      FJ = #{record.fj,jdbcType=OTHER},
      QSZT = #{record.qszt,jdbcType=OTHER},
      ZXYWH = #{record.zxywh,jdbcType=OTHER},
      ZXSJ = #{record.zxsj,jdbcType=TIMESTAMP},
      ZXYY = #{record.zxyy,jdbcType=OTHER},
      BLZT = #{record.blzt,jdbcType=OTHER},
      DAQZH = #{record.daqzh,jdbcType=OTHER},
      DAND = #{record.dand,jdbcType=OTHER},
      DAGH = #{record.dagh,jdbcType=OTHER},
      DAHH = #{record.dahh,jdbcType=OTHER},
      DAAJH = #{record.daajh,jdbcType=OTHER},
      DAAJBT = #{record.daajbt,jdbcType=OTHER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.supermap.dossiertool.smattrEntity.Jsydsyq">
    update SMATTR.JSYDSYQ
    <set>
      <if test="objectid != null">
        OBJECTID = #{objectid,jdbcType=DECIMAL},
      </if>
      <if test="ysdm != null">
        YSDM = #{ysdm,jdbcType=OTHER},
      </if>
      <if test="zddm != null">
        ZDDM = #{zddm,jdbcType=OTHER},
      </if>
      <if test="bdcdybsm != null">
        BDCDYBSM = #{bdcdybsm,jdbcType=OTHER},
      </if>
      <if test="bdcdyh != null">
        BDCDYH = #{bdcdyh,jdbcType=OTHER},
      </if>
      <if test="ywh != null">
        YWH = #{ywh,jdbcType=OTHER},
      </if>
      <if test="qllx != null">
        QLLX = #{qllx,jdbcType=OTHER},
      </if>
      <if test="djlx != null">
        DJLX = #{djlx,jdbcType=OTHER},
      </if>
      <if test="djyy != null">
        DJYY = #{djyy,jdbcType=OTHER},
      </if>
      <if test="syqmj != null">
        SYQMJ = #{syqmj,jdbcType=DECIMAL},
      </if>
      <if test="syqqssj != null">
        SYQQSSJ = #{syqqssj,jdbcType=TIMESTAMP},
      </if>
      <if test="syqjssj != null">
        SYQJSSJ = #{syqjssj,jdbcType=TIMESTAMP},
      </if>
      <if test="qdjg != null">
        QDJG = #{qdjg,jdbcType=DECIMAL},
      </if>
      <if test="bdcqzh != null">
        BDCQZH = #{bdcqzh,jdbcType=OTHER},
      </if>
      <if test="qxdm != null">
        QXDM = #{qxdm,jdbcType=OTHER},
      </if>
      <if test="djjg != null">
        DJJG = #{djjg,jdbcType=OTHER},
      </if>
      <if test="dbr != null">
        DBR = #{dbr,jdbcType=OTHER},
      </if>
      <if test="djsj != null">
        DJSJ = #{djsj,jdbcType=TIMESTAMP},
      </if>
      <if test="fj != null">
        FJ = #{fj,jdbcType=OTHER},
      </if>
      <if test="qszt != null">
        QSZT = #{qszt,jdbcType=OTHER},
      </if>
      <if test="zxywh != null">
        ZXYWH = #{zxywh,jdbcType=OTHER},
      </if>
      <if test="zxsj != null">
        ZXSJ = #{zxsj,jdbcType=TIMESTAMP},
      </if>
      <if test="zxyy != null">
        ZXYY = #{zxyy,jdbcType=OTHER},
      </if>
      <if test="blzt != null">
        BLZT = #{blzt,jdbcType=OTHER},
      </if>
      <if test="daqzh != null">
        DAQZH = #{daqzh,jdbcType=OTHER},
      </if>
      <if test="dand != null">
        DAND = #{dand,jdbcType=OTHER},
      </if>
      <if test="dagh != null">
        DAGH = #{dagh,jdbcType=OTHER},
      </if>
      <if test="dahh != null">
        DAHH = #{dahh,jdbcType=OTHER},
      </if>
      <if test="daajh != null">
        DAAJH = #{daajh,jdbcType=OTHER},
      </if>
      <if test="daajbt != null">
        DAAJBT = #{daajbt,jdbcType=OTHER},
      </if>
    </set>
    where BSM = #{bsm,jdbcType=OTHER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.supermap.dossiertool.smattrEntity.Jsydsyq">
    update SMATTR.JSYDSYQ
    set OBJECTID = #{objectid,jdbcType=DECIMAL},
      YSDM = #{ysdm,jdbcType=OTHER},
      ZDDM = #{zddm,jdbcType=OTHER},
      BDCDYBSM = #{bdcdybsm,jdbcType=OTHER},
      BDCDYH = #{bdcdyh,jdbcType=OTHER},
      YWH = #{ywh,jdbcType=OTHER},
      QLLX = #{qllx,jdbcType=OTHER},
      DJLX = #{djlx,jdbcType=OTHER},
      DJYY = #{djyy,jdbcType=OTHER},
      SYQMJ = #{syqmj,jdbcType=DECIMAL},
      SYQQSSJ = #{syqqssj,jdbcType=TIMESTAMP},
      SYQJSSJ = #{syqjssj,jdbcType=TIMESTAMP},
      QDJG = #{qdjg,jdbcType=DECIMAL},
      BDCQZH = #{bdcqzh,jdbcType=OTHER},
      QXDM = #{qxdm,jdbcType=OTHER},
      DJJG = #{djjg,jdbcType=OTHER},
      DBR = #{dbr,jdbcType=OTHER},
      DJSJ = #{djsj,jdbcType=TIMESTAMP},
      FJ = #{fj,jdbcType=OTHER},
      QSZT = #{qszt,jdbcType=OTHER},
      ZXYWH = #{zxywh,jdbcType=OTHER},
      ZXSJ = #{zxsj,jdbcType=TIMESTAMP},
      ZXYY = #{zxyy,jdbcType=OTHER},
      BLZT = #{blzt,jdbcType=OTHER},
      DAQZH = #{daqzh,jdbcType=OTHER},
      DAND = #{dand,jdbcType=OTHER},
      DAGH = #{dagh,jdbcType=OTHER},
      DAHH = #{dahh,jdbcType=OTHER},
      DAAJH = #{daajh,jdbcType=OTHER},
      DAAJBT = #{daajbt,jdbcType=OTHER}
    where BSM = #{bsm,jdbcType=OTHER}
  </update>
</mapper>