<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supermap.dossiertool.smattrMapper.QlrMapper">
  <resultMap id="BaseResultMap" type="com.supermap.dossiertool.smattrEntity.Qlr">
    <id column="BSM" jdbcType="OTHER" property="bsm" />
    <result column="OBJECTID" jdbcType="DECIMAL" property="objectid" />
    <result column="YSDM" jdbcType="OTHER" property="ysdm" />
    <result column="QLBSM" jdbcType="OTHER" property="qlbsm" />
    <result column="BDCDYH" jdbcType="OTHER" property="bdcdyh" />
    <result column="SXH" jdbcType="DECIMAL" property="sxh" />
    <result column="QLRMC" jdbcType="OTHER" property="qlrmc" />
    <result column="BDCQZH" jdbcType="OTHER" property="bdcqzh" />
    <result column="QZYSXLH" jdbcType="OTHER" property="qzysxlh" />
    <result column="SFCZR" jdbcType="OTHER" property="sfczr" />
    <result column="ZJZL" jdbcType="OTHER" property="zjzl" />
    <result column="ZJH" jdbcType="OTHER" property="zjh" />
    <result column="FZJG" jdbcType="OTHER" property="fzjg" />
    <result column="SSHY" jdbcType="OTHER" property="sshy" />
    <result column="GJ" jdbcType="OTHER" property="gj" />
    <result column="HJSZSS" jdbcType="OTHER" property="hjszss" />
    <result column="XB" jdbcType="OTHER" property="xb" />
    <result column="DH" jdbcType="OTHER" property="dh" />
    <result column="DZ" jdbcType="OTHER" property="dz" />
    <result column="YB" jdbcType="OTHER" property="yb" />
    <result column="GZDW" jdbcType="OTHER" property="gzdw" />
    <result column="DZYJ" jdbcType="OTHER" property="dzyj" />
    <result column="QLRLX" jdbcType="OTHER" property="qlrlx" />
    <result column="QLBL" jdbcType="OTHER" property="qlbl" />
    <result column="GYFS" jdbcType="OTHER" property="gyfs" />
    <result column="BZ" jdbcType="OTHER" property="bz" />
    <result column="DLRXM" jdbcType="OTHER" property="dlrxm" />
    <result column="DLRLXDH" jdbcType="OTHER" property="dlrlxdh" />
    <result column="DLRZJHM" jdbcType="OTHER" property="dlrzjhm" />
    <result column="DLRZJLX" jdbcType="OTHER" property="dlrzjlx" />
    <result column="DLJGMC" jdbcType="OTHER" property="dljgmc" />
    <result column="QLMJ" jdbcType="DECIMAL" property="qlmj" />
    <result column="FDDBR" jdbcType="OTHER" property="fddbr" />
    <result column="FDDBRDH" jdbcType="OTHER" property="fddbrdh" />
    <result column="FDDBRZJHM" jdbcType="OTHER" property="fddbrzjhm" />
    <result column="FDDBRZJLX" jdbcType="OTHER" property="fddbrzjlx" />
    <result column="SQRID" jdbcType="OTHER" property="sqrid" />
    <result column="FCZH" jdbcType="OTHER" property="fczh" />
    <result column="BLZT" jdbcType="OTHER" property="blzt" />
    <result column="YTDSYQR" jdbcType="OTHER" property="ytdsyqr" />
    <result column="YBDCQZH" jdbcType="OTHER" property="ybdcqzh" />
    <result column="FTXZ" jdbcType="OTHER" property="ftxz" />
    <result column="FCZZL" jdbcType="OTHER" property="fczzl" />
    <result column="XTDZZL" jdbcType="OTHER" property="xtdzzl" />
    <result column="XTDCZFS" jdbcType="OTHER" property="xtdczfs" />
    <result column="XTDQLXZ" jdbcType="OTHER" property="xtdqlxz" />
    <result column="XTDTDYT" jdbcType="OTHER" property="xtdtdyt" />
    <result column="XTDSYQX" jdbcType="OTHER" property="xtdsyqx" />
    <result column="XTDQLQSSJ" jdbcType="OTHER" property="xtdqlqssj" />
    <result column="XTDQLJSSJ" jdbcType="OTHER" property="xtdqljssj" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    BSM, OBJECTID, YSDM, QLBSM, BDCDYH, SXH, QLRMC, BDCQZH, QZYSXLH, SFCZR, ZJZL, ZJH, 
    FZJG, SSHY, GJ, HJSZSS, XB, DH, DZ, YB, GZDW, DZYJ, QLRLX, QLBL, GYFS, BZ, DLRXM, 
    DLRLXDH, DLRZJHM, DLRZJLX, DLJGMC, QLMJ, FDDBR, FDDBRDH, FDDBRZJHM, FDDBRZJLX, SQRID, 
    FCZH, BLZT, YTDSYQR, YBDCQZH, FTXZ, FCZZL, XTDZZL, XTDCZFS, XTDQLXZ, XTDTDYT, XTDSYQX, 
    XTDQLQSSJ, XTDQLJSSJ
  </sql>
  <select id="selectByExample" parameterType="com.supermap.dossiertool.smattrEntity.QlrExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SMATTR.QLR
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SMATTR.QLR
    where BSM = #{bsm,jdbcType=OTHER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SMATTR.QLR
    where BSM = #{bsm,jdbcType=OTHER}
  </delete>
  <delete id="deleteByExample" parameterType="com.supermap.dossiertool.smattrEntity.QlrExample">
    delete from SMATTR.QLR
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.supermap.dossiertool.smattrEntity.Qlr">
    insert into SMATTR.QLR (BSM, OBJECTID, YSDM, 
      QLBSM, BDCDYH, SXH, 
      QLRMC, BDCQZH, QZYSXLH, 
      SFCZR, ZJZL, ZJH, 
      FZJG, SSHY, GJ, 
      HJSZSS, XB, DH, 
      DZ, YB, GZDW, 
      DZYJ, QLRLX, QLBL, 
      GYFS, BZ, DLRXM, 
      DLRLXDH, DLRZJHM, DLRZJLX, 
      DLJGMC, QLMJ, FDDBR, 
      FDDBRDH, FDDBRZJHM, FDDBRZJLX, 
      SQRID, FCZH, BLZT, 
      YTDSYQR, YBDCQZH, FTXZ, 
      FCZZL, XTDZZL, XTDCZFS, 
      XTDQLXZ, XTDTDYT, XTDSYQX, 
      XTDQLQSSJ, XTDQLJSSJ)
    values (#{bsm,jdbcType=OTHER}, #{objectid,jdbcType=DECIMAL}, #{ysdm,jdbcType=OTHER}, 
      #{qlbsm,jdbcType=OTHER}, #{bdcdyh,jdbcType=OTHER}, #{sxh,jdbcType=DECIMAL}, 
      #{qlrmc,jdbcType=OTHER}, #{bdcqzh,jdbcType=OTHER}, #{qzysxlh,jdbcType=OTHER}, 
      #{sfczr,jdbcType=OTHER}, #{zjzl,jdbcType=OTHER}, #{zjh,jdbcType=OTHER}, 
      #{fzjg,jdbcType=OTHER}, #{sshy,jdbcType=OTHER}, #{gj,jdbcType=OTHER}, 
      #{hjszss,jdbcType=OTHER}, #{xb,jdbcType=OTHER}, #{dh,jdbcType=OTHER}, 
      #{dz,jdbcType=OTHER}, #{yb,jdbcType=OTHER}, #{gzdw,jdbcType=OTHER}, 
      #{dzyj,jdbcType=OTHER}, #{qlrlx,jdbcType=OTHER}, #{qlbl,jdbcType=OTHER}, 
      #{gyfs,jdbcType=OTHER}, #{bz,jdbcType=OTHER}, #{dlrxm,jdbcType=OTHER}, 
      #{dlrlxdh,jdbcType=OTHER}, #{dlrzjhm,jdbcType=OTHER}, #{dlrzjlx,jdbcType=OTHER}, 
      #{dljgmc,jdbcType=OTHER}, #{qlmj,jdbcType=DECIMAL}, #{fddbr,jdbcType=OTHER}, 
      #{fddbrdh,jdbcType=OTHER}, #{fddbrzjhm,jdbcType=OTHER}, #{fddbrzjlx,jdbcType=OTHER}, 
      #{sqrid,jdbcType=OTHER}, #{fczh,jdbcType=OTHER}, #{blzt,jdbcType=OTHER}, 
      #{ytdsyqr,jdbcType=OTHER}, #{ybdcqzh,jdbcType=OTHER}, #{ftxz,jdbcType=OTHER}, 
      #{fczzl,jdbcType=OTHER}, #{xtdzzl,jdbcType=OTHER}, #{xtdczfs,jdbcType=OTHER}, 
      #{xtdqlxz,jdbcType=OTHER}, #{xtdtdyt,jdbcType=OTHER}, #{xtdsyqx,jdbcType=OTHER}, 
      #{xtdqlqssj,jdbcType=OTHER}, #{xtdqljssj,jdbcType=OTHER})
  </insert>
  <insert id="insertSelective" parameterType="com.supermap.dossiertool.smattrEntity.Qlr">
    insert into SMATTR.QLR
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bsm != null">
        BSM,
      </if>
      <if test="objectid != null">
        OBJECTID,
      </if>
      <if test="ysdm != null">
        YSDM,
      </if>
      <if test="qlbsm != null">
        QLBSM,
      </if>
      <if test="bdcdyh != null">
        BDCDYH,
      </if>
      <if test="sxh != null">
        SXH,
      </if>
      <if test="qlrmc != null">
        QLRMC,
      </if>
      <if test="bdcqzh != null">
        BDCQZH,
      </if>
      <if test="qzysxlh != null">
        QZYSXLH,
      </if>
      <if test="sfczr != null">
        SFCZR,
      </if>
      <if test="zjzl != null">
        ZJZL,
      </if>
      <if test="zjh != null">
        ZJH,
      </if>
      <if test="fzjg != null">
        FZJG,
      </if>
      <if test="sshy != null">
        SSHY,
      </if>
      <if test="gj != null">
        GJ,
      </if>
      <if test="hjszss != null">
        HJSZSS,
      </if>
      <if test="xb != null">
        XB,
      </if>
      <if test="dh != null">
        DH,
      </if>
      <if test="dz != null">
        DZ,
      </if>
      <if test="yb != null">
        YB,
      </if>
      <if test="gzdw != null">
        GZDW,
      </if>
      <if test="dzyj != null">
        DZYJ,
      </if>
      <if test="qlrlx != null">
        QLRLX,
      </if>
      <if test="qlbl != null">
        QLBL,
      </if>
      <if test="gyfs != null">
        GYFS,
      </if>
      <if test="bz != null">
        BZ,
      </if>
      <if test="dlrxm != null">
        DLRXM,
      </if>
      <if test="dlrlxdh != null">
        DLRLXDH,
      </if>
      <if test="dlrzjhm != null">
        DLRZJHM,
      </if>
      <if test="dlrzjlx != null">
        DLRZJLX,
      </if>
      <if test="dljgmc != null">
        DLJGMC,
      </if>
      <if test="qlmj != null">
        QLMJ,
      </if>
      <if test="fddbr != null">
        FDDBR,
      </if>
      <if test="fddbrdh != null">
        FDDBRDH,
      </if>
      <if test="fddbrzjhm != null">
        FDDBRZJHM,
      </if>
      <if test="fddbrzjlx != null">
        FDDBRZJLX,
      </if>
      <if test="sqrid != null">
        SQRID,
      </if>
      <if test="fczh != null">
        FCZH,
      </if>
      <if test="blzt != null">
        BLZT,
      </if>
      <if test="ytdsyqr != null">
        YTDSYQR,
      </if>
      <if test="ybdcqzh != null">
        YBDCQZH,
      </if>
      <if test="ftxz != null">
        FTXZ,
      </if>
      <if test="fczzl != null">
        FCZZL,
      </if>
      <if test="xtdzzl != null">
        XTDZZL,
      </if>
      <if test="xtdczfs != null">
        XTDCZFS,
      </if>
      <if test="xtdqlxz != null">
        XTDQLXZ,
      </if>
      <if test="xtdtdyt != null">
        XTDTDYT,
      </if>
      <if test="xtdsyqx != null">
        XTDSYQX,
      </if>
      <if test="xtdqlqssj != null">
        XTDQLQSSJ,
      </if>
      <if test="xtdqljssj != null">
        XTDQLJSSJ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bsm != null">
        #{bsm,jdbcType=OTHER},
      </if>
      <if test="objectid != null">
        #{objectid,jdbcType=DECIMAL},
      </if>
      <if test="ysdm != null">
        #{ysdm,jdbcType=OTHER},
      </if>
      <if test="qlbsm != null">
        #{qlbsm,jdbcType=OTHER},
      </if>
      <if test="bdcdyh != null">
        #{bdcdyh,jdbcType=OTHER},
      </if>
      <if test="sxh != null">
        #{sxh,jdbcType=DECIMAL},
      </if>
      <if test="qlrmc != null">
        #{qlrmc,jdbcType=OTHER},
      </if>
      <if test="bdcqzh != null">
        #{bdcqzh,jdbcType=OTHER},
      </if>
      <if test="qzysxlh != null">
        #{qzysxlh,jdbcType=OTHER},
      </if>
      <if test="sfczr != null">
        #{sfczr,jdbcType=OTHER},
      </if>
      <if test="zjzl != null">
        #{zjzl,jdbcType=OTHER},
      </if>
      <if test="zjh != null">
        #{zjh,jdbcType=OTHER},
      </if>
      <if test="fzjg != null">
        #{fzjg,jdbcType=OTHER},
      </if>
      <if test="sshy != null">
        #{sshy,jdbcType=OTHER},
      </if>
      <if test="gj != null">
        #{gj,jdbcType=OTHER},
      </if>
      <if test="hjszss != null">
        #{hjszss,jdbcType=OTHER},
      </if>
      <if test="xb != null">
        #{xb,jdbcType=OTHER},
      </if>
      <if test="dh != null">
        #{dh,jdbcType=OTHER},
      </if>
      <if test="dz != null">
        #{dz,jdbcType=OTHER},
      </if>
      <if test="yb != null">
        #{yb,jdbcType=OTHER},
      </if>
      <if test="gzdw != null">
        #{gzdw,jdbcType=OTHER},
      </if>
      <if test="dzyj != null">
        #{dzyj,jdbcType=OTHER},
      </if>
      <if test="qlrlx != null">
        #{qlrlx,jdbcType=OTHER},
      </if>
      <if test="qlbl != null">
        #{qlbl,jdbcType=OTHER},
      </if>
      <if test="gyfs != null">
        #{gyfs,jdbcType=OTHER},
      </if>
      <if test="bz != null">
        #{bz,jdbcType=OTHER},
      </if>
      <if test="dlrxm != null">
        #{dlrxm,jdbcType=OTHER},
      </if>
      <if test="dlrlxdh != null">
        #{dlrlxdh,jdbcType=OTHER},
      </if>
      <if test="dlrzjhm != null">
        #{dlrzjhm,jdbcType=OTHER},
      </if>
      <if test="dlrzjlx != null">
        #{dlrzjlx,jdbcType=OTHER},
      </if>
      <if test="dljgmc != null">
        #{dljgmc,jdbcType=OTHER},
      </if>
      <if test="qlmj != null">
        #{qlmj,jdbcType=DECIMAL},
      </if>
      <if test="fddbr != null">
        #{fddbr,jdbcType=OTHER},
      </if>
      <if test="fddbrdh != null">
        #{fddbrdh,jdbcType=OTHER},
      </if>
      <if test="fddbrzjhm != null">
        #{fddbrzjhm,jdbcType=OTHER},
      </if>
      <if test="fddbrzjlx != null">
        #{fddbrzjlx,jdbcType=OTHER},
      </if>
      <if test="sqrid != null">
        #{sqrid,jdbcType=OTHER},
      </if>
      <if test="fczh != null">
        #{fczh,jdbcType=OTHER},
      </if>
      <if test="blzt != null">
        #{blzt,jdbcType=OTHER},
      </if>
      <if test="ytdsyqr != null">
        #{ytdsyqr,jdbcType=OTHER},
      </if>
      <if test="ybdcqzh != null">
        #{ybdcqzh,jdbcType=OTHER},
      </if>
      <if test="ftxz != null">
        #{ftxz,jdbcType=OTHER},
      </if>
      <if test="fczzl != null">
        #{fczzl,jdbcType=OTHER},
      </if>
      <if test="xtdzzl != null">
        #{xtdzzl,jdbcType=OTHER},
      </if>
      <if test="xtdczfs != null">
        #{xtdczfs,jdbcType=OTHER},
      </if>
      <if test="xtdqlxz != null">
        #{xtdqlxz,jdbcType=OTHER},
      </if>
      <if test="xtdtdyt != null">
        #{xtdtdyt,jdbcType=OTHER},
      </if>
      <if test="xtdsyqx != null">
        #{xtdsyqx,jdbcType=OTHER},
      </if>
      <if test="xtdqlqssj != null">
        #{xtdqlqssj,jdbcType=OTHER},
      </if>
      <if test="xtdqljssj != null">
        #{xtdqljssj,jdbcType=OTHER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.supermap.dossiertool.smattrEntity.QlrExample" resultType="java.lang.Long">
    select count(*) from SMATTR.QLR
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update SMATTR.QLR
    <set>
      <if test="record.bsm != null">
        BSM = #{record.bsm,jdbcType=OTHER},
      </if>
      <if test="record.objectid != null">
        OBJECTID = #{record.objectid,jdbcType=DECIMAL},
      </if>
      <if test="record.ysdm != null">
        YSDM = #{record.ysdm,jdbcType=OTHER},
      </if>
      <if test="record.qlbsm != null">
        QLBSM = #{record.qlbsm,jdbcType=OTHER},
      </if>
      <if test="record.bdcdyh != null">
        BDCDYH = #{record.bdcdyh,jdbcType=OTHER},
      </if>
      <if test="record.sxh != null">
        SXH = #{record.sxh,jdbcType=DECIMAL},
      </if>
      <if test="record.qlrmc != null">
        QLRMC = #{record.qlrmc,jdbcType=OTHER},
      </if>
      <if test="record.bdcqzh != null">
        BDCQZH = #{record.bdcqzh,jdbcType=OTHER},
      </if>
      <if test="record.qzysxlh != null">
        QZYSXLH = #{record.qzysxlh,jdbcType=OTHER},
      </if>
      <if test="record.sfczr != null">
        SFCZR = #{record.sfczr,jdbcType=OTHER},
      </if>
      <if test="record.zjzl != null">
        ZJZL = #{record.zjzl,jdbcType=OTHER},
      </if>
      <if test="record.zjh != null">
        ZJH = #{record.zjh,jdbcType=OTHER},
      </if>
      <if test="record.fzjg != null">
        FZJG = #{record.fzjg,jdbcType=OTHER},
      </if>
      <if test="record.sshy != null">
        SSHY = #{record.sshy,jdbcType=OTHER},
      </if>
      <if test="record.gj != null">
        GJ = #{record.gj,jdbcType=OTHER},
      </if>
      <if test="record.hjszss != null">
        HJSZSS = #{record.hjszss,jdbcType=OTHER},
      </if>
      <if test="record.xb != null">
        XB = #{record.xb,jdbcType=OTHER},
      </if>
      <if test="record.dh != null">
        DH = #{record.dh,jdbcType=OTHER},
      </if>
      <if test="record.dz != null">
        DZ = #{record.dz,jdbcType=OTHER},
      </if>
      <if test="record.yb != null">
        YB = #{record.yb,jdbcType=OTHER},
      </if>
      <if test="record.gzdw != null">
        GZDW = #{record.gzdw,jdbcType=OTHER},
      </if>
      <if test="record.dzyj != null">
        DZYJ = #{record.dzyj,jdbcType=OTHER},
      </if>
      <if test="record.qlrlx != null">
        QLRLX = #{record.qlrlx,jdbcType=OTHER},
      </if>
      <if test="record.qlbl != null">
        QLBL = #{record.qlbl,jdbcType=OTHER},
      </if>
      <if test="record.gyfs != null">
        GYFS = #{record.gyfs,jdbcType=OTHER},
      </if>
      <if test="record.bz != null">
        BZ = #{record.bz,jdbcType=OTHER},
      </if>
      <if test="record.dlrxm != null">
        DLRXM = #{record.dlrxm,jdbcType=OTHER},
      </if>
      <if test="record.dlrlxdh != null">
        DLRLXDH = #{record.dlrlxdh,jdbcType=OTHER},
      </if>
      <if test="record.dlrzjhm != null">
        DLRZJHM = #{record.dlrzjhm,jdbcType=OTHER},
      </if>
      <if test="record.dlrzjlx != null">
        DLRZJLX = #{record.dlrzjlx,jdbcType=OTHER},
      </if>
      <if test="record.dljgmc != null">
        DLJGMC = #{record.dljgmc,jdbcType=OTHER},
      </if>
      <if test="record.qlmj != null">
        QLMJ = #{record.qlmj,jdbcType=DECIMAL},
      </if>
      <if test="record.fddbr != null">
        FDDBR = #{record.fddbr,jdbcType=OTHER},
      </if>
      <if test="record.fddbrdh != null">
        FDDBRDH = #{record.fddbrdh,jdbcType=OTHER},
      </if>
      <if test="record.fddbrzjhm != null">
        FDDBRZJHM = #{record.fddbrzjhm,jdbcType=OTHER},
      </if>
      <if test="record.fddbrzjlx != null">
        FDDBRZJLX = #{record.fddbrzjlx,jdbcType=OTHER},
      </if>
      <if test="record.sqrid != null">
        SQRID = #{record.sqrid,jdbcType=OTHER},
      </if>
      <if test="record.fczh != null">
        FCZH = #{record.fczh,jdbcType=OTHER},
      </if>
      <if test="record.blzt != null">
        BLZT = #{record.blzt,jdbcType=OTHER},
      </if>
      <if test="record.ytdsyqr != null">
        YTDSYQR = #{record.ytdsyqr,jdbcType=OTHER},
      </if>
      <if test="record.ybdcqzh != null">
        YBDCQZH = #{record.ybdcqzh,jdbcType=OTHER},
      </if>
      <if test="record.ftxz != null">
        FTXZ = #{record.ftxz,jdbcType=OTHER},
      </if>
      <if test="record.fczzl != null">
        FCZZL = #{record.fczzl,jdbcType=OTHER},
      </if>
      <if test="record.xtdzzl != null">
        XTDZZL = #{record.xtdzzl,jdbcType=OTHER},
      </if>
      <if test="record.xtdczfs != null">
        XTDCZFS = #{record.xtdczfs,jdbcType=OTHER},
      </if>
      <if test="record.xtdqlxz != null">
        XTDQLXZ = #{record.xtdqlxz,jdbcType=OTHER},
      </if>
      <if test="record.xtdtdyt != null">
        XTDTDYT = #{record.xtdtdyt,jdbcType=OTHER},
      </if>
      <if test="record.xtdsyqx != null">
        XTDSYQX = #{record.xtdsyqx,jdbcType=OTHER},
      </if>
      <if test="record.xtdqlqssj != null">
        XTDQLQSSJ = #{record.xtdqlqssj,jdbcType=OTHER},
      </if>
      <if test="record.xtdqljssj != null">
        XTDQLJSSJ = #{record.xtdqljssj,jdbcType=OTHER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update SMATTR.QLR
    set BSM = #{record.bsm,jdbcType=OTHER},
      OBJECTID = #{record.objectid,jdbcType=DECIMAL},
      YSDM = #{record.ysdm,jdbcType=OTHER},
      QLBSM = #{record.qlbsm,jdbcType=OTHER},
      BDCDYH = #{record.bdcdyh,jdbcType=OTHER},
      SXH = #{record.sxh,jdbcType=DECIMAL},
      QLRMC = #{record.qlrmc,jdbcType=OTHER},
      BDCQZH = #{record.bdcqzh,jdbcType=OTHER},
      QZYSXLH = #{record.qzysxlh,jdbcType=OTHER},
      SFCZR = #{record.sfczr,jdbcType=OTHER},
      ZJZL = #{record.zjzl,jdbcType=OTHER},
      ZJH = #{record.zjh,jdbcType=OTHER},
      FZJG = #{record.fzjg,jdbcType=OTHER},
      SSHY = #{record.sshy,jdbcType=OTHER},
      GJ = #{record.gj,jdbcType=OTHER},
      HJSZSS = #{record.hjszss,jdbcType=OTHER},
      XB = #{record.xb,jdbcType=OTHER},
      DH = #{record.dh,jdbcType=OTHER},
      DZ = #{record.dz,jdbcType=OTHER},
      YB = #{record.yb,jdbcType=OTHER},
      GZDW = #{record.gzdw,jdbcType=OTHER},
      DZYJ = #{record.dzyj,jdbcType=OTHER},
      QLRLX = #{record.qlrlx,jdbcType=OTHER},
      QLBL = #{record.qlbl,jdbcType=OTHER},
      GYFS = #{record.gyfs,jdbcType=OTHER},
      BZ = #{record.bz,jdbcType=OTHER},
      DLRXM = #{record.dlrxm,jdbcType=OTHER},
      DLRLXDH = #{record.dlrlxdh,jdbcType=OTHER},
      DLRZJHM = #{record.dlrzjhm,jdbcType=OTHER},
      DLRZJLX = #{record.dlrzjlx,jdbcType=OTHER},
      DLJGMC = #{record.dljgmc,jdbcType=OTHER},
      QLMJ = #{record.qlmj,jdbcType=DECIMAL},
      FDDBR = #{record.fddbr,jdbcType=OTHER},
      FDDBRDH = #{record.fddbrdh,jdbcType=OTHER},
      FDDBRZJHM = #{record.fddbrzjhm,jdbcType=OTHER},
      FDDBRZJLX = #{record.fddbrzjlx,jdbcType=OTHER},
      SQRID = #{record.sqrid,jdbcType=OTHER},
      FCZH = #{record.fczh,jdbcType=OTHER},
      BLZT = #{record.blzt,jdbcType=OTHER},
      YTDSYQR = #{record.ytdsyqr,jdbcType=OTHER},
      YBDCQZH = #{record.ybdcqzh,jdbcType=OTHER},
      FTXZ = #{record.ftxz,jdbcType=OTHER},
      FCZZL = #{record.fczzl,jdbcType=OTHER},
      XTDZZL = #{record.xtdzzl,jdbcType=OTHER},
      XTDCZFS = #{record.xtdczfs,jdbcType=OTHER},
      XTDQLXZ = #{record.xtdqlxz,jdbcType=OTHER},
      XTDTDYT = #{record.xtdtdyt,jdbcType=OTHER},
      XTDSYQX = #{record.xtdsyqx,jdbcType=OTHER},
      XTDQLQSSJ = #{record.xtdqlqssj,jdbcType=OTHER},
      XTDQLJSSJ = #{record.xtdqljssj,jdbcType=OTHER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.supermap.dossiertool.smattrEntity.Qlr">
    update SMATTR.QLR
    <set>
      <if test="objectid != null">
        OBJECTID = #{objectid,jdbcType=DECIMAL},
      </if>
      <if test="ysdm != null">
        YSDM = #{ysdm,jdbcType=OTHER},
      </if>
      <if test="qlbsm != null">
        QLBSM = #{qlbsm,jdbcType=OTHER},
      </if>
      <if test="bdcdyh != null">
        BDCDYH = #{bdcdyh,jdbcType=OTHER},
      </if>
      <if test="sxh != null">
        SXH = #{sxh,jdbcType=DECIMAL},
      </if>
      <if test="qlrmc != null">
        QLRMC = #{qlrmc,jdbcType=OTHER},
      </if>
      <if test="bdcqzh != null">
        BDCQZH = #{bdcqzh,jdbcType=OTHER},
      </if>
      <if test="qzysxlh != null">
        QZYSXLH = #{qzysxlh,jdbcType=OTHER},
      </if>
      <if test="sfczr != null">
        SFCZR = #{sfczr,jdbcType=OTHER},
      </if>
      <if test="zjzl != null">
        ZJZL = #{zjzl,jdbcType=OTHER},
      </if>
      <if test="zjh != null">
        ZJH = #{zjh,jdbcType=OTHER},
      </if>
      <if test="fzjg != null">
        FZJG = #{fzjg,jdbcType=OTHER},
      </if>
      <if test="sshy != null">
        SSHY = #{sshy,jdbcType=OTHER},
      </if>
      <if test="gj != null">
        GJ = #{gj,jdbcType=OTHER},
      </if>
      <if test="hjszss != null">
        HJSZSS = #{hjszss,jdbcType=OTHER},
      </if>
      <if test="xb != null">
        XB = #{xb,jdbcType=OTHER},
      </if>
      <if test="dh != null">
        DH = #{dh,jdbcType=OTHER},
      </if>
      <if test="dz != null">
        DZ = #{dz,jdbcType=OTHER},
      </if>
      <if test="yb != null">
        YB = #{yb,jdbcType=OTHER},
      </if>
      <if test="gzdw != null">
        GZDW = #{gzdw,jdbcType=OTHER},
      </if>
      <if test="dzyj != null">
        DZYJ = #{dzyj,jdbcType=OTHER},
      </if>
      <if test="qlrlx != null">
        QLRLX = #{qlrlx,jdbcType=OTHER},
      </if>
      <if test="qlbl != null">
        QLBL = #{qlbl,jdbcType=OTHER},
      </if>
      <if test="gyfs != null">
        GYFS = #{gyfs,jdbcType=OTHER},
      </if>
      <if test="bz != null">
        BZ = #{bz,jdbcType=OTHER},
      </if>
      <if test="dlrxm != null">
        DLRXM = #{dlrxm,jdbcType=OTHER},
      </if>
      <if test="dlrlxdh != null">
        DLRLXDH = #{dlrlxdh,jdbcType=OTHER},
      </if>
      <if test="dlrzjhm != null">
        DLRZJHM = #{dlrzjhm,jdbcType=OTHER},
      </if>
      <if test="dlrzjlx != null">
        DLRZJLX = #{dlrzjlx,jdbcType=OTHER},
      </if>
      <if test="dljgmc != null">
        DLJGMC = #{dljgmc,jdbcType=OTHER},
      </if>
      <if test="qlmj != null">
        QLMJ = #{qlmj,jdbcType=DECIMAL},
      </if>
      <if test="fddbr != null">
        FDDBR = #{fddbr,jdbcType=OTHER},
      </if>
      <if test="fddbrdh != null">
        FDDBRDH = #{fddbrdh,jdbcType=OTHER},
      </if>
      <if test="fddbrzjhm != null">
        FDDBRZJHM = #{fddbrzjhm,jdbcType=OTHER},
      </if>
      <if test="fddbrzjlx != null">
        FDDBRZJLX = #{fddbrzjlx,jdbcType=OTHER},
      </if>
      <if test="sqrid != null">
        SQRID = #{sqrid,jdbcType=OTHER},
      </if>
      <if test="fczh != null">
        FCZH = #{fczh,jdbcType=OTHER},
      </if>
      <if test="blzt != null">
        BLZT = #{blzt,jdbcType=OTHER},
      </if>
      <if test="ytdsyqr != null">
        YTDSYQR = #{ytdsyqr,jdbcType=OTHER},
      </if>
      <if test="ybdcqzh != null">
        YBDCQZH = #{ybdcqzh,jdbcType=OTHER},
      </if>
      <if test="ftxz != null">
        FTXZ = #{ftxz,jdbcType=OTHER},
      </if>
      <if test="fczzl != null">
        FCZZL = #{fczzl,jdbcType=OTHER},
      </if>
      <if test="xtdzzl != null">
        XTDZZL = #{xtdzzl,jdbcType=OTHER},
      </if>
      <if test="xtdczfs != null">
        XTDCZFS = #{xtdczfs,jdbcType=OTHER},
      </if>
      <if test="xtdqlxz != null">
        XTDQLXZ = #{xtdqlxz,jdbcType=OTHER},
      </if>
      <if test="xtdtdyt != null">
        XTDTDYT = #{xtdtdyt,jdbcType=OTHER},
      </if>
      <if test="xtdsyqx != null">
        XTDSYQX = #{xtdsyqx,jdbcType=OTHER},
      </if>
      <if test="xtdqlqssj != null">
        XTDQLQSSJ = #{xtdqlqssj,jdbcType=OTHER},
      </if>
      <if test="xtdqljssj != null">
        XTDQLJSSJ = #{xtdqljssj,jdbcType=OTHER},
      </if>
    </set>
    where BSM = #{bsm,jdbcType=OTHER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.supermap.dossiertool.smattrEntity.Qlr">
    update SMATTR.QLR
    set OBJECTID = #{objectid,jdbcType=DECIMAL},
      YSDM = #{ysdm,jdbcType=OTHER},
      QLBSM = #{qlbsm,jdbcType=OTHER},
      BDCDYH = #{bdcdyh,jdbcType=OTHER},
      SXH = #{sxh,jdbcType=DECIMAL},
      QLRMC = #{qlrmc,jdbcType=OTHER},
      BDCQZH = #{bdcqzh,jdbcType=OTHER},
      QZYSXLH = #{qzysxlh,jdbcType=OTHER},
      SFCZR = #{sfczr,jdbcType=OTHER},
      ZJZL = #{zjzl,jdbcType=OTHER},
      ZJH = #{zjh,jdbcType=OTHER},
      FZJG = #{fzjg,jdbcType=OTHER},
      SSHY = #{sshy,jdbcType=OTHER},
      GJ = #{gj,jdbcType=OTHER},
      HJSZSS = #{hjszss,jdbcType=OTHER},
      XB = #{xb,jdbcType=OTHER},
      DH = #{dh,jdbcType=OTHER},
      DZ = #{dz,jdbcType=OTHER},
      YB = #{yb,jdbcType=OTHER},
      GZDW = #{gzdw,jdbcType=OTHER},
      DZYJ = #{dzyj,jdbcType=OTHER},
      QLRLX = #{qlrlx,jdbcType=OTHER},
      QLBL = #{qlbl,jdbcType=OTHER},
      GYFS = #{gyfs,jdbcType=OTHER},
      BZ = #{bz,jdbcType=OTHER},
      DLRXM = #{dlrxm,jdbcType=OTHER},
      DLRLXDH = #{dlrlxdh,jdbcType=OTHER},
      DLRZJHM = #{dlrzjhm,jdbcType=OTHER},
      DLRZJLX = #{dlrzjlx,jdbcType=OTHER},
      DLJGMC = #{dljgmc,jdbcType=OTHER},
      QLMJ = #{qlmj,jdbcType=DECIMAL},
      FDDBR = #{fddbr,jdbcType=OTHER},
      FDDBRDH = #{fddbrdh,jdbcType=OTHER},
      FDDBRZJHM = #{fddbrzjhm,jdbcType=OTHER},
      FDDBRZJLX = #{fddbrzjlx,jdbcType=OTHER},
      SQRID = #{sqrid,jdbcType=OTHER},
      FCZH = #{fczh,jdbcType=OTHER},
      BLZT = #{blzt,jdbcType=OTHER},
      YTDSYQR = #{ytdsyqr,jdbcType=OTHER},
      YBDCQZH = #{ybdcqzh,jdbcType=OTHER},
      FTXZ = #{ftxz,jdbcType=OTHER},
      FCZZL = #{fczzl,jdbcType=OTHER},
      XTDZZL = #{xtdzzl,jdbcType=OTHER},
      XTDCZFS = #{xtdczfs,jdbcType=OTHER},
      XTDQLXZ = #{xtdqlxz,jdbcType=OTHER},
      XTDTDYT = #{xtdtdyt,jdbcType=OTHER},
      XTDSYQX = #{xtdsyqx,jdbcType=OTHER},
      XTDQLQSSJ = #{xtdqlqssj,jdbcType=OTHER},
      XTDQLJSSJ = #{xtdqljssj,jdbcType=OTHER}
    where BSM = #{bsm,jdbcType=OTHER}
  </update>
</mapper>