<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="http://www.jq22.com/jquery/bootstrap-3.3.4.css" rel="stylesheet">
    <!--<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">-->
    <link href="css/bootstrap-treeview.css" rel="stylesheet">
    <link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">

    <!--ajax提交表单需要引入jquery.form.js-->
    <!--<script type="text/javascript" src="http://malsup.github.io/jquery.form.js"></script>-->

    <!--<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.js"></script>-->
    <!--&lt;!&ndash;ajax提交表单需要引入jquery.form.js&ndash;&gt;-->
    <!--<script type="text/javascript" src="http://malsup.github.io/jquery.form.js"></script>-->
<style type="text/css">
    .file{
        width:50%;
        height:250px;
        overflow-x:hidden;
        overflow-y:auto;
    }

    /*兼容IE*/
    .file{
        scrollbar-face-color: gainsboro;/*移动滑块颜色*/
        scrollbar-shadow-color: black;/*移动滑块边框颜色*/
        scrollbar-track-color: #ccc;/*背景颜色*/
        scrollbar-arrow-color: #ddd;/*箭头颜色*/
    }
    .file::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #ccc;
    }/* 滚动条的滑轨背景颜色 */
    .file::-webkit-scrollbar
    {
        width: 6px;
        background-color: #ccc;
    }

    .file::-webkit-scrollbar-thumb
    {
        background-color: gainsboro;
    }

    .showJpg{
        width:100%;
        height:540px;
        overflow-x:hidden;
        overflow-y:auto;
    }
    .showJpg{
        scrollbar-face-color: gainsboro;/*移动滑块颜色*/
        scrollbar-shadow-color: black;/*移动滑块边框颜色*/
        scrollbar-track-color: #ccc;/*背景颜色*/
        scrollbar-arrow-color: #ddd;/*箭头颜色*/
    }
    .showJpg::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #ccc;
    }/* 滚动条的滑轨背景颜色 */
    .showJpg::-webkit-scrollbar
    {
        width: 6px;
        background-color: #ccc;
    }

    .showJpg::-webkit-scrollbar-thumb
    {
        background-color: gainsboro;
    }

    #form{
        width:100%;
        height:700px;
        overflow-x:hidden;
        overflow-y:auto;
    }
    #form{
        scrollbar-face-color: gainsboro;/*移动滑块颜色*/
        scrollbar-shadow-color: black;/*移动滑块边框颜色*/
        scrollbar-track-color: #ccc;/*背景颜色*/
        scrollbar-arrow-color: #ddd;/*箭头颜色*/
    }
    #form::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #ccc;
    }/* 滚动条的滑轨背景颜色 */
    #from::-webkit-scrollbar
    {
        width: 6px;
        background-color: #ccc;
    }

    #form::-webkit-scrollbar-thumb
    {
        background-color: gainsboro;
    }
</style>
</head>

<body>
    <div style="float: left;width: 50%;height: 100%" class="left" >
        <div class="showJpg">
            <img width="100%"   id="showJpg" style="display: block" src="/img/C:\Users\Administrator\Desktop\2_161641_2.jpg"  class="img-rounded">
        </div>
        <div  style="width: 100%;height: 250px">
            <div class="file" style="float: left">
                <div id="folder" class="div" ></div>
            </div>
            <div  class="file" style="float: left">
                <div id="jpg" class="div"></div>
            </div>
        </div>
    </div>

    <div style="float: left;height: 100%;width: 50%">
        <div id="form">
            <form method="post" action="/submitData"  id="allData">
                <!--<div class="control-group">-->
                    <!--<label class="control-label">Date Picking</label>-->
                    <!--<div class="controls input-append date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">-->
                        <!--<input  size="16" type="text" value="" readonly>-->
                        <!--<span class="add-on"><i class="icon-remove"></i></span>-->
                        <!--<span class="add-on"><i class="icon-th"></i></span>-->
                    <!--</div>-->
                    <!--<input type="hidden" id="dtp_input2" value="" /><br/>-->
                <!--</div>-->
                <div class="from-row zdxx">
                    <div class="zdxx form-group col-md-6">
                        <label for="ZDDM">宗地代码</label>
                        <input type="text" class="form-control" name="ZDDM" id="ZDDM" placeholder="宗地代码">
                    </div>
                    <div class="zdxx form-group col-md-6">
                        <label for="BDCDYH">不动产单元号</label>
                        <input type="text" class="form-control" name="BDCDYH" id="BDCDYH" placeholder="不动产单元号">
                    </div>
                </div>
                <div class="from-row zdxx">
                    <div class="zdxx form-group col-md-6">
                        <label for="ZDTZM">宗地特征码</label>
                        <input type="text" class="form-control" name="ZDTZM" id="ZDTZM" placeholder="宗地特征码">
                    </div>
                    <div class="zdxx form-group col-md-6">
                        <label for="ZL">坐落</label>
                        <input type="text" class="form-control" name="ZL" id="ZL" placeholder="坐落">
                    </div>
                </div>
                <div class="from-row zdxx">
                    <div class="zdxx form-group col-md-6">
                        <label for="ZDMJ">宗地面积</label>
                        <input type="text" class="form-control" name="ZDMJ" id="ZDMJ" placeholder="宗地面积">
                    </div>
                    <div class="zdxx form-group col-md-6">
                        <label for="MJDW">面积单位</label>
                        <input type="text" class="form-control" name="MJDW" id="MJDW" placeholder="面积单位">
                    </div>
                </div>
                <div class="from-row zdxx">
                    <div class="zdxx form-group col-md-6">
                        <label for="YT">用途</label>
                        <input type="text" class="form-control" name="YT" id="YT" placeholder="用途">
                    </div>
                    <div class="zdxx form-group col-md-6">
                        <label for="DJ">等级</label>
                        <input type="text" class="form-control" name="DJ" id="DJ" placeholder="等级">
                    </div>
                </div>
                <div class="from-row zdxx">
                    <div class="zdxx form-group col-md-6">
                        <label for="JG">价格</label>
                        <input type="text" class="form-control" name="JG" id="JG" placeholder="价格">
                    </div>
                    <div class="zdxx form-group col-md-6">
                        <label for="QLLX">权利类型</label>
                        <input type="text" class="form-control" name="QLLX" id="QLLX" placeholder="权利类型">
                    </div>
                </div>
                <div class="from-row zdxx">
                    <div class="zdxx form-group col-md-6">
                        <label for="QLXZ">权利性质</label>
                        <input type="text" class="form-control" name="QLXZ" id="QLXZ" placeholder="权利性质">
                    </div>
                    <div class="zdxx form-group col-md-6">
                        <label for="QLSDFS">权利设定方式</label>
                        <input type="text" class="form-control" name="QLSDFS" id="QLSDFS" placeholder="权利设定方式">
                    </div>
                </div>
                <div class="from-row zdxx">
                    <div class="zdxx form-group col-md-6">
                        <label for="RJL">容积率</label>
                        <input type="text" class="form-control" name="RJL" id="RJL" placeholder="容积率">
                    </div>
                    <div class="zdxx form-group col-md-6">
                        <label for="JZMD">建筑密度</label>
                        <input type="text" class="form-control" name="JZMD" id="JZMD" placeholder="建筑密度">
                    </div>
                </div>
                <div class="from-row zdxx">
                    <div class="zdxx form-group col-md-6">
                        <label for="JZXG">建筑限高</label>
                        <input type="text" class="form-control" name="JZXG" id="JZXG" placeholder="建筑限高">
                    </div>
                    <div class="zdxx form-group col-md-6">
                        <label for="ZDSZD">宗地四至-东</label>
                        <input type="text" class="form-control" name="ZDSZD" id="ZDSZD" placeholder="宗地四至-东">
                    </div>
                </div>
                <div class="from-row zdxx">
                    <div class="zdxx form-group col-md-6">
                        <label for="ZDSZN">宗地四至-南</label>
                        <input type="text" class="form-control" name="ZDSZN" id="ZDSZN" placeholder="宗地四至-南">
                    </div>
                    <div class="zdxx form-group col-md-6">
                        <label for="ZDSZX">宗地四至-西</label>
                        <input type="text" class="form-control" name="ZDSZX" id="ZDSZX" placeholder="宗地四至-西">
                    </div>
                </div>
                <div class="from-row zdxx">
                    <div class="zdxx form-group col-md-6">
                        <label for="ZDSZB">宗地四至-北</label>
                        <input type="text" class="form-control" name="ZDSZB" id="ZDSZB" placeholder="宗地四至-北">
                    </div>
                    <div class="zdxx form-group col-md-6">
                        <label for="ZDT">宗地图</label>
                        <input type="text" class="form-control" name="ZDT" id="ZDT" placeholder="宗地图">
                    </div>
                </div>
                <div class="from-row zdxx">
                    <div class="zdxx form-group col-md-6">
                        <label for="TFH">图幅号</label>
                        <input type="text" class="form-control" name="TFH" id="TFH" placeholder="图幅号">
                    </div>
                    <div class="zdxx form-group col-md-6">
                        <label for="DJH">地籍号</label>
                        <input type="text" class="form-control" name="DJH" id="DJH" placeholder="地籍号">
                    </div>
                </div>
                <div class="from-row zdxx">
                    <div class="zdxx form-group col-md-6">
                        <label for="BZ">备注</label>
                        <input type="text" class="form-control" name="BZ" id="BZ" placeholder="备注">
                    </div>
                    <div class="zdxx form-group col-md-6">
                        <label for="ZT">状态</label>
                        <input type="text" class="form-control" name="ZT" id="ZT" placeholder="状态">
                    </div>
                </div>
                <div class="from-row zdxx">
                    <div class="zdxx form-group col-md-6">
                        <label for="CQZT">产权状态</label>
                        <input type="text" class="form-control" name="CQZT" id="CQZT" placeholder="产权状态">
                    </div>
                    <div class="zdxx form-group col-md-6">
                        <label for="GMJJHYFLDM">国民经济行业分类代码</label>
                        <input type="text" class="form-control" name="GMJJHYFLDM" id="GMJJHYFLDM" placeholder="国民经济行业分类代码">
                    </div>
                </div>
                <div class="from-row zdxx">
                    <div class="zdxx form-group col-md-6">
                        <label for="TDQSLYZMCL">土地权属来源证明材料</label>
                        <input type="text" class="form-control" name="TDQSLYZMCL" id="TDQSLYZMCL" placeholder="土地权属来源证明材料">
                    </div>
                    <div class="zdxx form-group col-md-6">
                        <label for="CLJS">地籍测量记事</label>
                        <input type="text" class="form-control" name="CLJS" id="CLJS" placeholder="地籍测量记事">
                    </div>
                </div>
                <div class="from-row zdxx">
                    <div class="zdxx form-group col-md-6">
                        <label for="SHYJ">地籍调查结果审核意见</label>
                        <input type="text" class="form-control" name="SHYJ" id="SHYJ" placeholder="地籍调查结果审核意见">
                    </div>
                    <div class="zdxx form-group col-md-6">
                        <label for="SHR">审核人</label>
                        <input type="text" class="form-control" name="SHR" id="SHR" placeholder="审核人">
                    </div>
                </div>
                <div class="from-row zdxx">
                    <div class="zdxx form-group col-md-6">
                        <label for="SHRQ">审核日期</label>
                        <input type="text" class="form-control" name="SHRQ" id="SHRQ" placeholder="审核日期">
                    </div>
                    <div class="zdxx form-group col-md-6">
                        <label for="JZZDMJ">建筑占地面积</label>
                        <input type="text" class="form-control" name="JZZDMJ" id="JZZDMJ" placeholder="建筑占地面积">
                    </div>
                </div>
                <div class="from-row zdxx">
                    <div class="zdxx form-group col-md-6">
                        <label for="JZMJ">建筑面积</label>
                        <input type="text" class="form-control" name="JZMJ" id="JZMJ" placeholder="建筑面积">
                    </div>
                    <div class="zdxx form-group col-md-6">
                        <label for="SYQLX">所有权类型</label>
                        <input type="text" class="form-control" name="SYQLX" id="SYQLX" placeholder="所有权类型">
                    </div>
                </div>
                <div class="from-row zdxx">
                    <div class="zdxx form-group col-md-6">
                        <label for="PZYT">批准用途</label>
                        <input type="text" class="form-control" name="PZYT" id="PZYT" placeholder="批准用途">
                    </div>
                    <div class="zdxx form-group col-md-6">
                        <label for="PZMJ">批准面积</label>
                        <input type="text" class="form-control" name="PZMJ" id="PZMJ" placeholder="批准面积">
                    </div>
                </div>
                <div class="from-row zdxx">
                    <div class="zdxx form-group col-md-6">
                        <label for="JZXZXSM">权属界线走向说明</label>
                        <input type="text" class="form-control" name="JZXZXSM" id="JZXZXSM" placeholder="权属界线走向说明">
                    </div>
                    <div class="zdxx form-group col-md-6">
                        <label for="DCJS">权属调查记事</label>
                        <input type="text" class="form-control" name="DCJS" id="DCJS" placeholder="权属调查记事">
                    </div>
                </div>
                <div class="from-row zdxx">
                    <div class="zdxx form-group col-md-6">
                        <label for="DCR">调查人</label>
                        <input type="text" class="form-control" name="DCR" id="DCR" placeholder="调查人">
                    </div>
                    <div class="zdxx form-group col-md-6">
                        <label for="DCRQ">调查日期</label>
                        <input type="date" class="form-control" name="DCRQ" id="DCRQ" placeholder="调查日期">
                    </div>
                </div>
                <div class="from-row zdxx">
                    <div class="zdxx form-group col-md-6">
                        <label for="BLC">比例尺</label>
                        <input type="text" class="form-control" name="BLC" id="BLC" placeholder="比例尺">
                    </div>
                    <div class="zdxx form-group col-md-6">
                        <label for="CLR">测量人</label>
                        <input type="text" class="form-control" name="CLR" id="CLR" placeholder="测量人">
                    </div>
                </div>
                <div class="from-row zdxx">
                    <div class="zdxx form-group col-md-6">
                        <label for="CLRQ">测量日期</label>
                        <input type="date" class="form-control" name="CLRQ" id="CLRQ" placeholder="测量日期">
                    </div>
                    <div class="zdxx form-group col-md-6">
                        <label for="JZDWSM">界址点位说明</label>
                        <input type="text" class="form-control" name="JZDWSM" id="JZDWSM" placeholder="界址点位说明">
                    </div>
                </div>
                <div class="from-row zdxx">
                    <div class="zdxx form-group col-md-6">
                        <label for="YBZDDM">预编宗地代码</label>
                        <input type="text" class="form-control" name="YBZDDM" id="YBZDDM" placeholder="预编宗地代码">
                    </div>
                    <div class="zdxx form-group col-md-6">
                        <label for="QXDM">区县代码</label>
                        <input type="text" class="form-control" name="QXDM" id="QXDM" placeholder="区县代码">
                    </div>
                </div>
                <div class="from-row zdxx">
                    <div class="zdxx form-group col-md-6">
                        <label for="DJQDM">地籍区代码</label>
                        <input type="text" class="form-control" name="DJQDM" id="DJQDM" placeholder="地籍区代码">
                    </div>
                    <div class="zdxx form-group col-md-6">
                        <label for="DJZQDM">地籍子区代码</label>
                        <input type="text" class="form-control" name="DJZQDM" id="DJZQDM" placeholder="地籍子区代码">
                    </div>
                </div>
                <div class="from-row zdxx">
                    <div class="zdxx form-group col-md-6">
                        <label for="QXMC">区县名称</label>
                        <input type="text" class="form-control" name="QXMC" id="QXMC" placeholder="区县名称">
                    </div>
                    <div class="zdxx form-group col-md-6">
                        <label for="DJQMC">地籍区名称</label>
                        <input type="text" class="form-control" name="DJQMC" id="DJQMC" placeholder="地籍区名称">
                    </div>
                </div>
                <div class="from-row zdxx">
                    <div class="zdxx form-group col-md-6">
                        <label for="DJZQMC">地籍子区名称</label>
                        <input type="text" class="form-control" name="DJZQMC" id="DJZQMC" placeholder="地籍子区名称">
                    </div>
                </div>

                <!--使用权信息表单-->

                <div class="from-row syqxx">
                    <div class="syqxx form-group col-md-6">
                        <label for="ZDDM">宗地代码</label>
                        <input type="text" class="form-control" name="ZDDM" id="ZDDM" placeholder="宗地代码">
                    </div>
                    <div class="syqxx form-group col-md-6">
                        <label for="BDCDYBSM">单元标识码</label>
                        <input type="text" class="form-control" name="BDCDYBSM" id="BDCDYBSM" placeholder="单元标识码">
                    </div>
                </div>
                <div class="from-row syqxx">
                    <div class="syqxx form-group col-md-6">
                        <label for="BDCDYH">不动产单元号</label>
                        <input type="text" class="form-control" name="BDCDYH" id="BDCDYH" placeholder="不动产单元号">
                    </div>
                    <div class="syqxx form-group col-md-6">
                        <label for="YWH">受理编号</label>
                        <input type="text" class="form-control" name="YWH" id="YWH" placeholder="受理编号">
                    </div>
                </div>
                <div class="from-row syqxx">
                    <div class="syqxx form-group col-md-6">
                        <label for="QLLX">权利类型</label>
                        <input type="text" class="form-control" name="QLLX" id="QLLX" placeholder="权利类型">
                    </div>
                    <div class="syqxx form-group col-md-6">
                        <label for="DJLX">登记类型</label>
                        <input type="text" class="form-control" name="DJLX" id="DJLX" placeholder="登记类型">
                    </div>
                </div>
                <div class="from-row syqxx">
                    <div class="syqxx form-group col-md-6">
                        <label for="DJYY">登记原因</label>
                        <input type="text" class="form-control" name="DJYY" id="DJYY" placeholder="登记原因">
                    </div>
                    <div class="syqxx form-group col-md-6">
                        <label for="SYQMJ">使用权面积</label>
                        <input type="text" class="form-control" name="SYQMJ" id="SYQMJ" placeholder="使用权面积">
                    </div>
                </div>
                <div class="from-row syqxx">
                    <div class="syqxx form-group col-md-6">
                        <label for="SYQQSSJ">使用权起始时间</label>
                        <input type="date" class="form-control" name="SYQQSSJ" id="SYQQSSJ" placeholder="使用权起始时间">
                    </div>
                    <div class="syqxx form-group col-md-6">
                        <label for="SYQJSSJ">使用权结束时间</label>
                        <input type="date" class="form-control" name="SYQJSSJ" id="SYQJSSJ" placeholder="使用权结束时间">
                    </div>
                </div>
                <div class="from-row syqxx">
                    <div class="syqxx form-group col-md-6">
                        <label for="QDJG">取得价格</label>
                        <input type="text" class="form-control" name="QDJG" id="QDJG" placeholder="取得价格">
                    </div>
                    <div class="syqxx form-group col-md-6">
                        <label for="BDCQZH">不动产权证号</label>
                        <input type="text" class="form-control" name="BDCQZH" id="BDCQZH" placeholder="不动产权证号">
                    </div>
                </div>
                <div class="from-row syqxx">
                    <div class="syqxx form-group col-md-6">
                        <label for="QXDM">区县代码</label>
                        <input type="text" class="form-control" name="QXDM" id="QXDM" placeholder="区县代码">
                    </div>
                    <div class="syqxx form-group col-md-6">
                        <label for="DJJG">登记机构</label>
                        <input type="text" class="form-control" name="DJJG" id="DJJG" placeholder="登记机构">
                    </div>
                </div>
                <div class="from-row syqxx">
                    <div class="syqxx form-group col-md-6">
                        <label for="DBR">登簿人</label>
                        <input type="text" class="form-control" name="DBR" id="DBR" placeholder="登簿人">
                    </div>
                    <div class="syqxx form-group col-md-6">
                        <label for="DJSJ">登记时间</label>
                        <input type="date" class="form-control" name="DJSJ" id="DJSJ" placeholder="登记时间">
                    </div>
                </div>
                <div class="from-row syqxx">
                    <div class="syqxx form-group col-md-6">
                        <label for="FJ">附记</label>
                        <input type="text" class="form-control" name="FJ" id="FJ" placeholder="附记">
                    </div>
                    <div class="syqxx form-group col-md-6">
                        <label for="QSZT">权属状态</label>
                        <input type="text" class="form-control" name="QSZT" id="QSZT" placeholder="权属状态">
                    </div>
                </div>
                <div class="from-row syqxx">
                    <div class="syqxx form-group col-md-6">
                        <label for="ZXYWH">注销业务号</label>
                        <input type="text" class="form-control" name="ZXYWH" id="ZXYWH" placeholder="注销业务号">
                    </div>
                    <div class="syqxx form-group col-md-6">
                        <label for="ZXSJ">注销时间</label>
                        <input type="date" class="form-control" name="ZXSJ" id="ZXSJ" placeholder="注销时间">
                    </div>
                </div>
                <div class="from-row syqxx">
                    <div class="syqxx form-group col-md-6">
                        <label for="ZXYY">注销原因</label>
                        <input type="text" class="form-control" name="ZXYY" id="ZXYY" placeholder="注销原因">
                    </div>
                </div>


                <!--土地用途信息-->
                <div class="tdytxx form-group col-md-6">
                    <label for="ZDBSM">宗地标识码</label>
                    <input type="text" class="form-control" name="ZDBSM" id="ZDBSM" placeholder="宗地标识码">
                </div>

        <div class="from-row tdytxx">
            <div class="tdytxx form-group col-md-6">
                <label for="SFZYT">是否主用途</label>
                <input type="text" class="form-control" name="SFZYT" id="SFZYT" placeholder="是否主用途">
            </div>
            <div class="tdytxx form-group col-md-6">
                <label for="TDYT">土地用途</label>
                <input type="text" class="form-control" name="TDYT" id="TDYT" placeholder="土地用途">
            </div>
        </div>
        <div class="from-row tdytxx">
            <div class="tdytxx form-group col-md-6">
                <label for="TDYTMC">土地用途名称</label>
                <input type="text" class="form-control" name="TDYTMC" id="TDYTMC" placeholder="土地用途名称">
            </div>
            <div class="tdytxx form-group col-md-6">
                <label for="TDJG">土地价格</label>
                <input type="text" class="form-control" name="TDJG" id="TDJG" placeholder="土地价格">
            </div>
        </div>
        <div class="from-row tdytxx">
            <div class="tdytxx form-group col-md-6">
                <label for="TDDJ">土地等级</label>
                <input type="text" class="form-control" name="TDDJ" id="TDDJ" placeholder="土地等级">
            </div>
            <div class="tdytxx form-group col-md-6">
                <label for="QSRQ">使用权起始时间</label>
                <input type="date" class="form-control" name="QSRQ" id="QSRQ" placeholder="使用权起始时间">
            </div>
        </div>
        <div class="from-row tdytxx">
            <div class="tdytxx form-group col-md-6">
                <label for="ZZRQ">使用权终止日期</label>
                <input type="date" class="form-control" name="ZZRQ" id="ZZRQ" placeholder="使用权终止日期">
            </div>
            <div class="tdytxx form-group col-md-6">
                <label for="SYQX">使用期限</label>
                <input type="text" class="form-control" name="SYQX" id="SYQX" placeholder="使用期限">
            </div>
        </div>
        <div class="from-row tdytxx">
            <div class="tdytxx form-group col-md-6">
                <label for="BLZT">补录状态</label>
                <input type="text" class="form-control" name="BLZT" id="BLZT" placeholder="补录状态">
            </div>
            <div class="tdytxx form-group col-md-6">
                <label for="ZDMJ">宗地面积</label>
                <input type="text" class="form-control" name="ZDMJ" id="ZDMJ" placeholder="宗地面积">
            </div>
        </div>
        <div class="from-row tdytxx">
            <div class="tdytxx form-group col-md-6">
                <label for="QLXZ">权利性质</label>
                <input type="text" class="form-control" name="QLXZ" id="QLXZ" placeholder="权利性质">
            </div>
        </div>
                <!--权利人信息表单-->

                <div class="from-row qlrxx">
                    <div class="qlrxx form-group col-md-6">
                        <label for="QLBSM">权利标识码</label>
                        <input type="text" class="form-control" name="QLBSM" id="QLBSM" placeholder="权利标识码">
                    </div>
                    <div class="qlrxx form-group col-md-6">
                        <label for="BDCDYH">不动产单元号</label>
                        <input type="text" class="form-control" name="BDCDYH" id="BDCDYH" placeholder="不动产单元号">
                    </div>
                </div>
                <div class="from-row qlrxx">
                    <div class="qlrxx form-group col-md-6">
                        <label for="SXH">顺序号</label>
                        <input type="text" class="form-control" name="SXH" id="SXH" placeholder="顺序号">
                    </div>
                    <div class="qlrxx form-group col-md-6">
                        <label for="QLRMC">权利人名称</label>
                        <input type="text" class="form-control" name="QLRMC" id="QLRMC" placeholder="权利人名称">
                    </div>
                </div>
                <div class="from-row qlrxx">
                    <div class="qlrxx form-group col-md-6">
                        <label for="BDCQZH">不动产权证号</label>
                        <input type="text" class="form-control" name="BDCQZH" id="BDCQZH" placeholder="不动产权证号">
                    </div>
                    <div class="qlrxx form-group col-md-6">
                        <label for="QZYSXLH">权证印刷序列号</label>
                        <input type="text" class="form-control" name="QZYSXLH" id="QZYSXLH" placeholder="权证印刷序列号">
                    </div>
                </div>
                <div class="from-row qlrxx">
                    <div class="qlrxx form-group col-md-6">
                        <label for="SFCZR">是否持证人</label>
                        <input type="text" class="form-control" name="SFCZR" id="SFCZR" placeholder="是否持证人">
                    </div>
                    <div class="qlrxx form-group col-md-6">
                        <label for="ZJZL">证件种类</label>
                        <input type="text" class="form-control" name="ZJZL" id="ZJZL" placeholder="证件种类">
                    </div>
                </div>
                <div class="from-row qlrxx">
                    <div class="qlrxx form-group col-md-6">
                        <label for="ZJH">证件号</label>
                        <input type="text" class="form-control" name="ZJH" id="ZJH" placeholder="证件号">
                    </div>
                    <div class="qlrxx form-group col-md-6">
                        <label for="FZJG">发证机关</label>
                        <input type="text" class="form-control" name="FZJG" id="FZJG" placeholder="发证机关">
                    </div>
                </div>
                <div class="from-row qlrxx">
                    <div class="qlrxx form-group col-md-6">
                        <label for="SSHY">所属行业</label>
                        <input type="text" class="form-control" name="SSHY" id="SSHY" placeholder="所属行业">
                    </div>
                    <div class="qlrxx form-group col-md-6">
                        <label for="GJ">国家/地区</label>
                        <input type="text" class="form-control" name="GJ" id="GJ" placeholder="国家/地区">
                    </div>
                </div>
                <div class="from-row qlrxx">
                    <div class="qlrxx form-group col-md-6">
                        <label for="HJSZSS">户籍所在省市</label>
                        <input type="text" class="form-control" name="HJSZSS" id="HJSZSS" placeholder="户籍所在省市">
                    </div>
                    <div class="qlrxx form-group col-md-6">
                        <label for="XB">性别</label>
                        <select id="XB" name="XB" class="form-control custom-select custom-select-lg mb-3">
                            <option selected value="1">男</option>
                            <option value="0">女</option>
                        </select>
                    </div>
                </div>
                <div class="from-row qlrxx">
                    <div class="qlrxx form-group col-md-6">
                        <label for="DH">电话</label>
                        <input type="tel" class="form-control" name="DH" id="DH" placeholder="电话">
                    </div>
                    <div class="qlrxx form-group col-md-6">
                        <label for="DZ">地址</label>
                        <input type="text" class="form-control" name="DZ" id="DZ" placeholder="地址">
                    </div>
                </div>
                <div class="from-row qlrxx">
                    <div class="qlrxx form-group col-md-6">
                        <label for="YB">邮编</label>
                        <input type="text" class="form-control" name="YB" id="YB" placeholder="邮编">
                    </div>
                    <div class="qlrxx form-group col-md-6">
                        <label for="GZDW">工作单位</label>
                        <input type="text" class="form-control" name="GZDW" id="GZDW" placeholder="工作单位">
                    </div>
                </div>
                <div class="from-row qlrxx">
                    <div class="qlrxx form-group col-md-6">
                        <label for="DZYJ">电子邮件</label>
                        <input type="text" class="form-control" name="DZYJ" id="DZYJ" placeholder="电子邮件">
                    </div>
                    <div class="qlrxx form-group col-md-6">
                        <label for="QLRLX">权利人类型</label>
                        <input type="text" class="form-control" name="QLRLX" id="QLRLX" placeholder="权利人类型">
                    </div>
                </div>
                <div class="from-row qlrxx">
                    <div class="qlrxx form-group col-md-6">
                        <label for="QLBL">权利比例</label>
                        <input type="text" class="form-control" name="QLBL" id="QLBL" placeholder="权利比例">
                    </div>
                    <div class="qlrxx form-group col-md-6">
                        <label for="GYFS">共有方式</label>
                        <input type="text" class="form-control" name="GYFS" id="GYFS" placeholder="共有方式">
                    </div>
                </div>
                <div class="from-row qlrxx">
                    <div class="qlrxx form-group col-md-6">
                        <label for="BZ">备注</label>
                        <input type="text" class="form-control" name="BZ" id="BZ" placeholder="备注">
                    </div>
                    <div class="qlrxx form-group col-md-6">
                        <label for="DLRXM">代理人姓名</label>
                        <input type="text" class="form-control" name="DLRXM" id="DLRXM" placeholder="代理人姓名">
                    </div>
                </div>
                <div class="from-row qlrxx">
                    <div class="qlrxx form-group col-md-6">
                        <label for="DLRLXDH">代理人联系电话</label>
                        <input type="tel" class="form-control" name="DLRLXDH" id="DLRLXDH" placeholder="代理人联系电话">
                    </div>
                    <div class="qlrxx form-group col-md-6">
                        <label for="DLRZJHM">代理人证件号码</label>
                        <input type="text" class="form-control" name="DLRZJHM" id="DLRZJHM" placeholder="代理人证件号码">
                    </div>
                </div>
                <div class="from-row qlrxx">
                    <div class="qlrxx form-group col-md-6">
                        <label for="DLRZJLX">代理人证件类型</label>
                        <input type="text" class="form-control" name="DLRZJLX" id="DLRZJLX" placeholder="代理人证件类型">
                    </div>
                    <div class="qlrxx form-group col-md-6">
                        <label for="DLJGMC">代理机构名称</label>
                        <input type="text" class="form-control" name="DLJGMC" id="DLJGMC" placeholder="代理机构名称">
                    </div>
                </div>
                <div class="from-row qlrxx">
                    <div class="qlrxx form-group col-md-6">
                        <label for="QLMJ">权利面积</label>
                        <input type="text" class="form-control" name="QLMJ" id="QLMJ" placeholder="权利面积">
                    </div>
                    <div class="qlrxx form-group col-md-6">
                        <label for="FDDBR">法定代表人</label>
                        <input type="text" class="form-control" name="FDDBR" id="FDDBR" placeholder="法定代表人">
                    </div>
                </div>
                <div class="from-row qlrxx">
                    <div class="qlrxx form-group col-md-6">
                        <label for="FDDBRDH">法定代表人电话号码</label>
                        <input type="text" class="form-control" name="FDDBRDH" id="FDDBRDH" placeholder="法定代表人电话号码">
                    </div>
                    <div class="qlrxx form-group col-md-6">
                        <label for="FDDBRZJHM">法定代表人证件号码</label>
                        <input type="text" class="form-control" name="FDDBRZJHM" id="FDDBRZJHM" placeholder="法定代表人证件号码">
                    </div>
                </div>
                <div class="from-row qlrxx">
                    <div class="qlrxx form-group col-md-6">
                        <label for="FDDBRZJLX">法定代表人证件类型</label>
                        <input type="text" class="form-control" name="FDDBRZJLX" id="FDDBRZJLX" placeholder="法定代表人证件类型">
                    </div>
                    <div class="qlrxx form-group col-md-6">
                        <label for="SQRID">申请人ID</label>
                        <input type="text" class="form-control" name="SQRID" id="SQRID" placeholder="申请人ID">
                    </div>
                </div>
                <div class="from-row qlrxx">
                    <div class="qlrxx form-group col-md-6">
                        <label for="FCZH">房产证号</label>
                        <input type="text" class="form-control" name="FCZH" id="FCZH" placeholder="房产证号">
                    </div>
                    <div class="qlrxx form-group col-md-6">
                        <label for="YTDSYQR">原土地使用权人</label>
                        <input type="text" class="form-control" name="YTDSYQR" id="YTDSYQR" placeholder="原土地使用权人">
                    </div>
                </div>
                <div class="from-row qlrxx">
                    <div class="qlrxx form-group col-md-6">
                        <label for="YBDCQZH">原土地使用证</label>
                        <input type="text" class="form-control" name="YBDCQZH" id="YBDCQZH" placeholder="原土地使用证">
                    </div>
                    <div class="qlrxx form-group col-md-6">
                        <label for="FTXZ">分摊小证</label>
                        <input type="text" class="form-control" name="FTXZ" id="FTXZ" placeholder="分摊小证">
                    </div>
                </div>
                <div class="from-row qlrxx">
                    <div class="qlrxx form-group col-md-6">
                        <label for="FCZZL">房产证坐落</label>
                        <input type="text" class="form-control" name="FCZZL" id="FCZZL" placeholder="房产证坐落">
                    </div>
                    <div class="qlrxx form-group col-md-6">
                        <label for="XTDZZL">小土地证坐落</label>
                        <input type="text" class="form-control" name="XTDZZL" id="XTDZZL" placeholder="小土地证坐落">
                    </div>
                </div>
                <div class="from-row qlrxx">
                    <div class="qlrxx form-group col-md-6">
                        <label for="XTDCZFS">小土地持证方式</label>
                        <input type="text" class="form-control" name="XTDCZFS" id="XTDCZFS" placeholder="小土地持证方式">
                    </div>
                    <div class="qlrxx form-group col-md-6">
                        <label for="XTDQLXZ">小土地权利性质</label>
                        <input type="text" class="form-control" name="XTDQLXZ" id="XTDQLXZ" placeholder="小土地权利性质">
                    </div>
                </div>
                <div class="from-row qlrxx">
                    <div class="qlrxx form-group col-md-6">
                        <label for="XTDTDYT">小土地土地用途</label>
                        <input type="text" class="form-control" name="XTDTDYT" id="XTDTDYT" placeholder="小土地土地用途">
                    </div>
                    <div class="qlrxx form-group col-md-6">
                        <label for="XTDSYQX">小土地使用期限</label>
                        <input type="text" class="form-control" name="XTDSYQX" id="XTDSYQX" placeholder="小土地使用期限">
                    </div>
                </div>
                <div class="from-row qlrxx">
                    <div class="qlrxx form-group col-md-6">
                        <label for="XTDQLQSSJ">小土地权利起始时间</label>
                        <input type="date" class="form-control" name="XTDQLQSSJ" id="XTDQLQSSJ" placeholder="小土地权利起始时间">
                    </div>
                    <div class="qlrxx form-group col-md-6">
                        <label for="XTDQLJSSJ">小土地权利结束时间</label>
                        <input type="date" class="form-control" name="XTDQLJSSJ" id="XTDQLJSSJ" placeholder="小土地权利结束时间">
                    </div>
                </div>

                <!--档案信息-->
                <div class="daxx form-group col-md-6">
                    <label for="dalxbh">档案类型编号</label>
                    <input type="text" class="form-control" name="dalxbh" id="dalxbh" placeholder="档案类型编号">
                </div>

             <div class="from-row daxx">
            <div class="daxx form-group col-md-6">
                <label for="dalx ">档案类型</label>
                <input type="text" class="form-control" name="dalx " id="dalx " placeholder="档案类型">
            </div>
            <div class="daxx form-group col-md-6">
                <label for="bgqx">保管期限</label>
                <input type="text" class="form-control" name="bgqx" id="bgqx" placeholder="保管期限">
            </div>
        </div>
        <div class="from-row daxx">
            <div class="daxx form-group col-md-6">
                <label for="fpys">封皮页数</label>
                <input type="text" class="form-control" name="fpys" id="fpys" placeholder="封皮页数">
            </div>
            <div class="daxx form-group col-md-6">
                <label for="zxrq">注销日期</label>
                <input type="date" class="form-control" name="zxrq" id="zxrq" placeholder="注销日期">
            </div>
        </div>
            </form>

        </div>
        <HR>
        <div style="height: 30%">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label show=".zdxx" id="showZDXX" class="showForm btn btn-secondary">
                    <input type="radio" name="options" id="option1" autocomplete="off"> 宗地信息
                </label>
                <label show=".syqxx" id="showSYQXX" class="showForm btn btn-secondary">
                    <input type="radio" name="options" id="option2" autocomplete="off"> 使用权信息
                </label>
                <label show=".tdytxx" id="showTDYTXX" class="showForm btn btn-secondary">
                    <input type="radio" name="options" id="option3" autocomplete="off"> 土地用途信息
                </label>
                <label show=".qlrxx" id="showQLRXX" class="showForm btn btn-secondary">
                    <input type="radio" name="options" id="option4" autocomplete="off"> 权利人信息
                </label>
                <label show=".daxx" id="showDAXX" class="showForm btn btn-secondary">
                    <input type="radio" name="options" id="option5" autocomplete="off"> 档案信息
                </label>
            </div>
            <button id="submitForm" style="margin-left: 100px" type="button" class="btn btn-primary">提交表单</button>
        </div>
    </div>


<script src="http://www.jq22.com/jquery/2.1.1/jquery.min.js"></script>
<script src="js/bootstrap-treeview.js"></script>

<script type="text/javascript" src="js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js//bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript" th:inline="javascript">
window.onload = function (ev) {
    $('.form_date').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });

    $(".from-row").hide();
    $(".zdxx").show();
    $(document).on('click', '#submitForm', function () {
        var data = $("#allData").serialize();
        alert(data)
        $.ajax({
            url: '/submitData',
            type: 'post', //
            async: true,    //或false,是否异步
            data: data,
            timeout: 5000,    //超时时间
            dataType: 'text',    //返回的数据格式：json/xml/html/script/jsonp/text
            success: function (data) {
                alert(data)
            },
        })

    });
    $(document).on('click', '.showForm', function () {
        var show = $(this).attr("show");
        $(".from-row").hide();
        $(show).show();
    })


    var initFolder = function(data){
    return $("#folder").treeview({

    data:data,
    color:"#428bca",
    levels:1,
    showTags:true,
    onNodeSelected:function(event,node){
        if (node.nodes==null){
            $.ajax({
                url: '/getJpgList',
                type: 'GET', //
                async: true,    //或false,是否异步
                data: {
                    path:node.path,
                    AJH:node.text
                },
                timeout: 5000,    //超时时间
                dataType: 'json',    //返回的数据格式：json/xml/html/script/jsonp/text
                success: function (data) {

                    $(".form-control").val("");

                    initJpgList(data['jpgs'])
                },
            })
        }
    },
    onNodeUnselected:function(event,node){
        // if (node.nodes==null){
        //     $.ajax({
        //         url: '/deleteAJHInCache',
        //         type: 'POST', //
        //         async: true,    //或false,是否异步
        //         data: {
        //             AJH:node.text
        //         },
        //         timeout: 5000,    //超时时间
        //         dataType: 'json',    //返回的数据格式：json/xml/html/script/jsonp/text
        //         success: function (data) {
        //         },
        //     })
        // }
    },
    });
    }
    var initJpgList = function(data){
        return $("#jpg").treeview({
            data:data,
            color:"#428bca",
            levels:1,
            showTags:true,
            onNodeSelected:function(event,node){
                    $("#showJpg").attr("src","/img/"+node.path);
            },
            onNodeUnselected:function(event,node){
                console.log("取消了");
            }
        });
    }
    initFolder([[${data}]])

}

</script>
</body>
</html>