<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="http://www.jq22.com/jquery/bootstrap-3.3.4.css" rel="stylesheet">
    <link href="css/bootstrap-treeview.css" rel="stylesheet">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.js"></script>

    <!--ajax提交表单需要引入jquery.form.js-->
    <script type="text/javascript" src="http://malsup.github.io/jquery.form.js"></script>
<style type="text/css">
    .file{
        width:50%;
        height:250px;
        overflow-x:hidden;
        overflow-y:auto;
    }

    /*兼容IE*/
    .file{
        scrollbar-face-color: gainsboro;/*移动滑块颜色*/
        scrollbar-shadow-color: black;/*移动滑块边框颜色*/
        scrollbar-track-color: #ccc;/*背景颜色*/
        scrollbar-arrow-color: #ddd;/*箭头颜色*/
    }
    .file::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #ccc;
    }/* 滚动条的滑轨背景颜色 */
    .file::-webkit-scrollbar
    {
        width: 6px;
        background-color: #ccc;
    }

    .file::-webkit-scrollbar-thumb
    {
        background-color: gainsboro;
    }

    .showJpg{
        width:100%;
        height:540px;
        overflow-x:hidden;
        overflow-y:auto;
    }
    .showJpg{
        scrollbar-face-color: gainsboro;/*移动滑块颜色*/
        scrollbar-shadow-color: black;/*移动滑块边框颜色*/
        scrollbar-track-color: #ccc;/*背景颜色*/
        scrollbar-arrow-color: #ddd;/*箭头颜色*/
    }
    .showJpg::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #ccc;
    }/* 滚动条的滑轨背景颜色 */
    .showJpg::-webkit-scrollbar
    {
        width: 6px;
        background-color: #ccc;
    }

    .showJpg::-webkit-scrollbar-thumb
    {
        background-color: gainsboro;
    }

    #form{
        width:100%;
        height:700px;
        overflow-x:hidden;
        overflow-y:auto;
    }
    #form{
        scrollbar-face-color: gainsboro;/*移动滑块颜色*/
        scrollbar-shadow-color: black;/*移动滑块边框颜色*/
        scrollbar-track-color: #ccc;/*背景颜色*/
        scrollbar-arrow-color: #ddd;/*箭头颜色*/
    }
    #form::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #ccc;
    }/* 滚动条的滑轨背景颜色 */
    #from::-webkit-scrollbar
    {
        width: 6px;
        background-color: #ccc;
    }

    #form::-webkit-scrollbar-thumb
    {
        background-color: gainsboro;
    }
</style>
</head>

<body>
    <div style="float: left;width: 50%;height: 100%" class="left" >
        <div class="showJpg">
            <img width="100%"   id="showJpg" style="display: block" src="/img/C:\Users\Administrator\Desktop\2_161641_2.jpg"  class="img-rounded">
        </div>
        <div  style="width: 100%;height: 250px">
            <div class="file" style="float: left">
                <div id="folder" class="div" ></div>
            </div>
            <div  class="file" style="float: left">
                <div id="jpg" class="div"></div>
            </div>
        </div>
    </div>

    <div style="float: left;height: 100%;width: 50%">
        <div id="form">
            <form id="allData">
                <div class="from-row zdxx">
                    <div class="zdxx form-group col-md-6">
                        <label for="qxmc">区县名称</label>
                        <input type="text" class="form-control" id="qxmc" placeholder="区县名称">
                    </div>
                  <div class="zdxx form-group col-md-6">
                        <label for="djqmc">地籍区名称</label>
                        <input type="text" class="form-control" id="djqmc" placeholder="地籍子区名称">
                    </div>
                </div>
                <div class="from-row zdxx">
                  <div class="zdxx form-group col-md-6">
                        <label for="djzqmc">地籍子区名称</label>
                        <input type="text" class="form-control" id="djzqmc" placeholder="地籍子区名称">
                    </div>
                  <div class="zdxx form-group col-md-6">
                        <label for="syqlx">所有权类型</label>
                        <input type="text" class="form-control" id="syqlx" placeholder="所有权类型">
                    </div>
                </div>
                <div class="from-row zdxx">
                  <div class="zdxx form-group col-md-6">
                        <label for="zdtzm">宗地特征码</label>
                        <input type="text" class="form-control" id="zdtzm" placeholder="宗地特征码">
                  </div>
                  <div class="zdxx form-group col-md-6">
                        <label for="bdcdyh">不动产单元号</label>
                        <input type="text" class="form-control" id="bdcdyh" placeholder="不动产单元号">
                  </div>
                </div>
                <div class="from-row zdxx">
                  <div class="zdxx form-group col-md-6">
                        <label for="zddm">宗地代码</label>
                        <input type="text" class="form-control" id="zddm" placeholder="宗地代码">
                    </div>
                </div>
                <div class="from-row zdxx">
                  <div class="zdxx form-group col-md-6">
                        <label for="zl">坐落</label>
                        <input type="text" class="form-control" id="zl" placeholder="坐落">
                    </div>
                  <div class="zdxx form-group col-md-6">
                        <label for="qllx">权利类型</label>
                        <input type="text" class="form-control" id="qllx" placeholder="权利类型">
                    </div>
                </div>
                <div class="from-row zdxx">
                  <div class="zdxx form-group col-md-6">
                        <label for="djlx">登记类型</label>
                        <input type="text" class="form-control" id="djlx" placeholder="登记类型">
                  </div>
                  <div class="zdxx form-group col-md-6">
                        <label for="qlxz">权利性质</label>
                        <input type="text" class="form-control" id="qlxz" placeholder="权利性质">
                  </div>

                </div>

                <div class="from-row zdxx">
                  <div class="zdxx form-group col-md-6">
                        <label for="qlsdfs">权利设定方式</label>
                        <input type="text" class="form-control" id="qlsdfs" placeholder="权利设定方式">
                    </div>
                  <div class="zdxx form-group col-md-6">
                        <label for="zdsz-d">宗地四至-东</label>
                        <input type="text" class="form-control" id="zdsz-d" placeholder="宗地四至-东">
                    </div>
                </div>
                <div class="from-row zdxx">
                  <div class="zdxx form-group col-md-6">
                        <label for="zdsz-n">宗地四至-南</label>
                        <input type="text" class="form-control" id="zdsz-n" placeholder="宗地四至-南">
                    </div>
                  <div class="zdxx form-group col-md-6">
                        <label for="zdsz-x">宗地四至-西</label>
                        <input type="text" class="form-control" id="zdsz-x" placeholder="宗地四至-西">
                    </div>
                </div>
                <div class="from-row zdxx">
                  <div class="zdxx form-group col-md-6">
                        <label for="zdsz-b">宗地四至-北</label>
                        <input type="text" class="form-control" id="zdsz-b" placeholder="宗地四至-北">
                    </div>
                  <div class="zdxx form-group col-md-6">
                        <label for="zdmj">宗地面积</label>
                        <input type="text" class="form-control" id="zdmj" placeholder="宗地面积">
                    </div>
                </div>
                <div class="from-row zdxx">
                  <div class="zdxx form-group col-md-6">
                        <label for="jzzdmj">建筑占地面积</label>
                        <input type="text" class="form-control" id="jzzdmj" placeholder="建筑占地面积">
                    </div>
                  <div class="zdxx form-group col-md-6">
                        <label for="jzmj">建筑面积</label>
                        <input type="text" class="form-control" id="jzmj" placeholder="建筑面积">
                    </div>
                </div>
                <div class="from-row zdxx">
                  <div class="zdxx form-group col-md-6">
                        <label for="pzmj">批准面积</label>
                        <input type="text" class="form-control" id="pzmj" placeholder="批准面积">
                    </div>
                  <div class="zdxx form-group col-md-6">
                        <label for="tdyt">土地用途</label>
                        <input type="text" class="form-control" id="tdyt" placeholder="土地用途">
                    </div>
                </div>
                <div class="from-row zdxx">
                  <div class="zdxx form-group col-md-6">
                        <label for="tdytmc">土地用途名称</label>
                        <input type="text" class="form-control" id="tdytmc" placeholder="土地用途名称">
                    </div>
                  <div class="zdxx form-group col-md-6">
                        <label for="syqqssj">使用权起始时间</label>
                        <input type="text" class="form-control" id="syqqssj" placeholder="使用权起始时间">
                    </div>
                </div>
                <div class="from-row zdxx">
                  <div class="zdxx form-group col-md-6">
                        <label for="syqzzrq">使用权终止日期</label>
                        <input type="text" class="form-control" id="syqzzrq" placeholder="使用权终止日期">
                    </div>
                  <div class="zdxx form-group col-md-6">
                        <label for="syqx">使用期限</label>
                        <input type="text" class="form-control" id="syqx" placeholder="使用期限">
                    </div>
                </div>
                <div class="from-row zdxx">
                  <div class="zdxx form-group col-md-6">
                        <label for="dj">等级</label>
                        <input type="text" class="form-control" id="dj" placeholder="使用权终止日期">
                    </div>
                  <div class="zdxx form-group col-md-6">
                        <label for="jg">价格</label>
                        <input type="text" class="form-control" id="jg" placeholder="使用期限">
                    </div>
                </div>

                <!--权利人信息表单-->

                <div class="from-row qlrxx">
                <div class="qlrxx form-group col-md-6">
                    <label for="qlrmc">权利人名称</label>
                    <input type="text" class="form-control" id="qlrmc" placeholder="权利人名称">
                </div>
                <div class="qlrxx form-group col-md-6">
                    <label for="zjzl">证件种类</label>
                    <input type="text" class="form-control" id="zjzl" placeholder="证件种类">
                </div>
                </div>
                <div class="from-row qlrxx">
                    <div class="qlrxx form-group col-md-6">
                        <label for="zjh">证件号</label>
                        <input type="text" class="form-control" id="zjh" placeholder="证件号">
                    </div>
                    <div class="qlrxx form-group col-md-6">
                        <label for="qlrlx">权利人类型</label>
                        <input type="text" class="form-control" id="qlrlx" placeholder="权利人类型">
                    </div>
                </div>
                <div class="from-row qlrxx">
                    <div class="qlrxx form-group col-md-6">
                        <label for="gyfs">共有方式</label>
                        <input type="text" class="form-control" id="gyfs" placeholder="共有方式">
                    </div>
                    <div class="qlrxx form-group col-md-6">
                        <label for="qlmj">权利面积</label>
                        <input type="text" class="form-control" id="qlmj" placeholder="权利面积">
                    </div>
                </div>
                <div class="from-row qlrxx">
                    <div class="qlrxx form-group col-md-6">
                        <label for="bdczzh">不动产权证号</label>
                        <input type="text" class="form-control" id="bdczzh" placeholder="不动产权证号">
                    </div>
                    <div class="qlrxx form-group col-md-6">
                        <label for="fczh">房产证号</label>
                        <input type="text" class="form-control" id="fczh" placeholder="房产证号">
                    </div>
                </div>
                <div class="from-row qlrxx">
                    <div class="qlrxx form-group col-md-6">
                        <label for="ftxz">分摊小证</label>
                        <input type="text" class="form-control" id="ftxz" placeholder="分摊小证">
                    </div>
                    <div class="qlrxx form-group col-md-6">
                        <label for="xtdzzl">小土地证坐落</label>
                        <input type="text" class="form-control" id="xtdzzl" placeholder="小土地证坐落">
                    </div>
                </div>
                <div class="from-row qlrxx">
                    <div class="qlrxx form-group col-md-6">
                        <label for="ftxz">小土地持证方式</label>
                        <input type="text" class="form-control" id="xtdczfs" placeholder="小土地持证方式">
                    </div>
                    <div class="qlrxx form-group col-md-6">
                        <label for="xtdqlxz">小土地权利性质</label>
                        <input type="text" class="form-control" id="xtdqlxz" placeholder="小土地权利性质">
                    </div>
                </div>

                <div class="from-row qlrxx">
                    <div class="qlrxx form-group col-md-6">
                        <label for="xtddtyt">小土地土地用途</label>
                        <input type="text" class="form-control" id="xtddtyt" placeholder="小土地土地用途">
                    </div>
                    <div class="qlrxx form-group col-md-6">
                        <label for="xtdsyqx">小土地使用期限</label>
                        <input type="text" class="form-control" id="xtdsyqx" placeholder="小土地使用期限">
                    </div>
                </div>
                <div class="from-row qlrxx">
                    <div class="qlrxx form-group col-md-6">
                        <label for="xtdqlqssj">小土地权利起始时间</label>
                        <input type="text" class="form-control" id="xtdqlqssj" placeholder="小土地权利起始时间">
                    </div>
                    <div class="qlrxx form-group col-md-6">
                        <label for="xtdqljssj">小土地权利结束时间</label>
                        <input type="text" class="form-control" id="xtdqljssj" placeholder="小土地权利结束时间">
                    </div>
                </div>
                <div class="from-row qlrxx">
                    <div class="qlrxx form-group col-md-6">
                        <label for="qlbl">权利比例</label>
                        <input type="text" class="form-control" id="qlbl" placeholder="权利比例">
                    </div>
                    <div class="qlrxx form-group col-md-6">
                        <label for="ytdsyqr">原土地使用权人</label>
                        <input type="text" class="form-control" id="ytdsyqr" placeholder="原土地使用权人">
                    </div>
                </div>
                <div class="from-row qlrxx">
                    <div class="qlrxx form-group col-md-6">
                        <label for="ytdsyz">原土地使用证</label>
                        <input type="text" class="form-control" id="ytdsyz" placeholder="原土地使用证">
                    </div>
                    <div class="qlrxx form-group col-md-6">
                        <label for="qszt">权属状态</label>
                        <input type="text" class="form-control" id="qszt" placeholder="权属状态">
                    </div>
                </div>
                <div class="from-row qlrxx">
                    <div class="qlrxx form-group col-md-6">
                        <label for="dbr">登簿人</label>
                        <input type="text" class="form-control" id="dbr" placeholder="登簿人">
                    </div>
                    <div class="qlrxx form-group col-md-6">
                        <label for="djsj">登记时间</label>
                        <input type="text" class="form-control" id="djsj" placeholder="登记时间">
                    </div>
                </div>
                <div class="from-row qlrxx">
                <div class="qlrxx form-group col-md-6">
                    <label for="slbh">受理编号</label>
                    <input type="text" class="form-control" id="slbh" placeholder="受理编号">
                </div>
            </div>

                <!--档案信息-->
                <div class="from-row daxx">
                <div class="daxx form-group col-md-6">
                    <label for="dabh">档案编号</label>
                    <input type="text" class="form-control" id="dabh" placeholder="档案编号">
                </div>
                <div class="daxx form-group col-md-6">
                    <label for="dalxbh">档案类型编号</label>
                    <input type="text" class="form-control" id="dalxbh" placeholder="档案类型编号">
                </div>
                </div>

                <div class="from-row daxx">
                    <div class="daxx form-group col-md-6">
                        <label for="dalx">档案类型</label>
                        <input type="text" class="form-control" id="dalx" placeholder="档案类型">
                    </div>
                    <div class="daxx form-group col-md-6">
                        <label for="dabhtxm">档案编号条形码</label>
                        <input type="text" class="form-control" id="dabhtxm" placeholder="档案编号条形码">
                    </div>
                </div>

                <div class="from-row daxx">
                    <div class="daxx form-group col-md-6">
                        <label for="dalxbhtxm">档案类型编号条形码</label>
                        <input type="text" class="form-control" id="dalxbhtxm" placeholder="档案类型编号条形码">
                    </div>
                    <div class="daxx form-group col-md-6">
                        <label for="bgqx">保管期限</label>
                        <input type="text" class="form-control" id="bgqx" placeholder="保管期限">
                    </div>
                </div>
                <div class="from-row daxx">
                    <div class="daxx form-group col-md-6">
                        <label for="fpys">封皮页数</label>
                        <input type="text" class="form-control" id="fpys" placeholder="封皮页数">
                    </div>
                    <div class="daxx form-group col-md-6">
                        <label for="clmc">材料名称</label>
                        <input type="text" class="form-control" id="clmc" placeholder="材料名称">
                    </div>
                </div>
                <div class="from-row daxx">
                    <div class="daxx form-group col-md-6">
                        <label for="ym">页码</label>
                        <input type="text" class="form-control" id="ym" placeholder="页码">
                    </div>
                </div>
            </form>

        </div>
        <HR>
        <div style="height: 30%">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label show=".zdxx" id="showZDXX" class="showForm btn btn-secondary">
                    <input type="radio" name="options" id="option1" autocomplete="off"> 宗地信息
                </label>
                <label show=".qlrxx" id="showQLRXX" class="showForm btn btn-secondary">
                    <input type="radio" name="options" id="option2" autocomplete="off"> 权利人信息
                </label>
                <label show=".daxx" id="showDAXX" class="showForm btn btn-secondary">
                    <input type="radio" name="options" id="option3" autocomplete="off"> 档案信息
                </label>
            </div>
            <button id="submitForm" style="margin-left: 350px" type="button" class="btn btn-primary">提交表单</button>
        </div>
    </div>


<script src="http://www.jq22.com/jquery/2.1.1/jquery.min.js"></script>
<script src="js/bootstrap-treeview.js"></script>
<script type="text/javascript" th:inline="javascript">
window.onload = function (ev) {

    $(document).on('click', '#submitForm', function () {

        alert(5)
        $("#allData").ajaxSubmit({
            beforeSubmit:function () {
                alert("提交表单前")
            }
        })

    })

    $(document).on('click', '.showForm', function () {
        var show = $(this).attr("show");
        $(".from-row").hide();
        $(show).show();
    })


    var initFolder = function(data){
    return $("#folder").treeview({

    data:data,
    color:"#428bca",
    levels:1,
    showTags:true,
    onNodeSelected:function(event,node){
        if (node.nodes==null){
            $.ajax({
                url: '/getJpgList',
                type: 'GET', //
                async: true,    //或false,是否异步
                data: {
                    path:node.path,
                    AJH:node.text
                },
                timeout: 5000,    //超时时间
                dataType: 'json',    //返回的数据格式：json/xml/html/script/jsonp/text
                success: function (data) {
                    alert(node.state.checked)
                    if (data==""){
                        alert("该案卷号正被操作")

                    }
                    else
                    initJpgList(data)
                },
            })
        }
    },
    onNodeUnselected:function(event,node){
        if (node.nodes==null){
            $.ajax({
                url: '/deleteAJHInCache',
                type: 'POST', //
                async: true,    //或false,是否异步
                data: {
                    AJH:node.text
                },
                timeout: 5000,    //超时时间
                dataType: 'json',    //返回的数据格式：json/xml/html/script/jsonp/text
                success: function (data) {
                },
            })
        }
    },
    });
    }
    var initJpgList = function(data){
        return $("#jpg").treeview({
            data:data,
            color:"#428bca",
            levels:1,
            showTags:true,
            onNodeSelected:function(event,node){
                    $("#showJpg").attr("src","/img/"+node.path);
            },
            onNodeUnselected:function(event,node){
                console.log("取消了");
            }
        });
    }

    initFolder([[${data}]])

}

</script>
</body>
</html>